In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("efficiency_data_only_selected_Columns_R.csv")
df1 = pd.read_csv("rm_composition_R.csv")

In [6]:
df8 = df8.loc[:, ~df8.columns.str.contains('^Unnamed')]

In [7]:
df8 = df8[["Date", "TimeStamp", "Furnace", "Line", "DPR Eff"]]

In [8]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70534 entries, 0 to 70533
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       70534 non-null  object
 1   TimeStamp  70534 non-null  object
 2   Furnace    70534 non-null  int64
 3   Line       70534 non-null  object
 4   DPR Eff    70534 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ MB

In [9]:
df8

             Date TimeStamp  Furnace Line  DPR Eff
0      2021-01-01   7:00:00      160  J19    93.95
1      2021-01-01   8:00:00      160  J19    93.95
2      2021-01-01   9:00:00      160  J19    93.95
3      2021-01-01  10:00:00      160  J19    88.58
4      2021-01-01   7:00:00      160  J14    91.41
...           ...       ...      ...  ...      ...
70529  2022-01-01   6:00:00      160  J17    90.29
70530  2022-01-01   6:00:00      160  J16    90.29
70531  2022-01-01   6:00:00      160  J14    71.21
70532  2022-01-01   6:00:00      160  J20    75.00
70533  2022-01-01   6:00:00      160  J13    91.59

[70534 rows x 5 columns]

In [10]:
df8["Date"] = pd.to_datetime(df8["Date"])

In [11]:
df1_ = df1.groupby("glass_properties_date").mean().reset_index()

In [12]:
df1_

,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result
0,01-01-2020,70.970,1.690,0.025,10.56,2.45,13.560,0.51,0.1370,2.51000,14.0
1,01-01-2021,71.315,1.750,0.026,10.10,2.69,13.890,0.00,0.1195,2.50585,13.0
2,01-02-2020,71.070,1.670,0.026,10.46,2.45,13.530,0.52,0.1550,2.50790,15.0
3,01-02-2021,71.060,1.705,0.024,10.20,2.80,13.950,0.00,0.1265,2.50810,15.5
4,01-03-2020,71.050,1.610,0.026,10.51,2.43,13.560,0.52,0.1740,2.50910,22.0
...,...,...,...,...,...,...,...,...,...,...,...
734,31-08-2021,71.720,1.670,0.023,9.91,2.74,13.740,0.00,0.1300,2.50210,17.0
735,31-10-2019,71.540,1.640,0.029,10.56,2.48,13.540,0.00,0.1280,2.50650,16.0
736,31-10-2021,71.150,1.690,0.025,10.25,2.67,13.880,0.00,0.1450,2.50690,21.0
737,31-12-2019,70.970,1.660,0.025,10.50,2.51,13.610,0.51,0.1380,2.50940,13.0
738,31-12-2020,71.275,1.745,0.026,10.10,2.69,13.925,0.00,0.1195,2.50665,14.0

In [165]:
len(set(df1["glass_properties_date"])), df1["glass_properties_date"].shape

(739, (931,))

In [188]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df.head(10)

,timestamp,prod_mis_seq_no,prod_mis_sales_order_number,prod_mis_production_order_number,prod_mis_plant,prod_mis_plant_name,prod_mis_sales_order_type_id,prod_mis_line,prod_mis_material_number,prod_mis_old_material_number,...,prod_mis_create_date_timestamp,prod_mis_actual_start_timestamp,prod_mis_date_timestamp,prod_mis_actual_end_timestamp,prod_mis_shift_date_timestamp,prod_mis_create_date_dt,prod_mis_actual_start_dt,prod_mis_date_dt,prod_mis_actual_end_dt,prod_mis_shift_date_dt
0,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
1,2021-12-01,2048.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
2,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
3,2021-12-01,381.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
4,2021-12-01,2004.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
5,2021-12-01,343.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
6,2021-12-01,2101.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
7,2021-12-01,2048.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
8,2021-12-01,381.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
9,2021-12-01,2004.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN

In [13]:
df1_["glass_properties_date"] = pd.to_datetime(df1_["glass_properties_date"])
df1_

,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result
0,2020-01-01,70.970,1.690,0.025,10.56,2.45,13.560,0.51,0.1370,2.51000,14.0
1,2021-01-01,71.315,1.750,0.026,10.10,2.69,13.890,0.00,0.1195,2.50585,13.0
2,2020-01-02,71.070,1.670,0.026,10.46,2.45,13.530,0.52,0.1550,2.50790,15.0
3,2021-01-02,71.060,1.705,0.024,10.20,2.80,13.950,0.00,0.1265,2.50810,15.5
4,2020-01-03,71.050,1.610,0.026,10.51,2.43,13.560,0.52,0.1740,2.50910,22.0
...,...,...,...,...,...,...,...,...,...,...,...
734,2021-08-31,71.720,1.670,0.023,9.91,2.74,13.740,0.00,0.1300,2.50210,17.0
735,2019-10-31,71.540,1.640,0.029,10.56,2.48,13.540,0.00,0.1280,2.50650,16.0
736,2021-10-31,71.150,1.690,0.025,10.25,2.67,13.880,0.00,0.1450,2.50690,21.0
737,2019-12-31,70.970,1.660,0.025,10.50,2.51,13.610,0.51,0.1380,2.50940,13.0
738,2020-12-31,71.275,1.745,0.026,10.10,2.69,13.925,0.00,0.1195,2.50665,14.0

In [14]:
df_ = pd.merge(df8, df1_, how='left',
               left_on='Date', right_on='glass_properties_date')

In [15]:
df_.shape

(70534, 16)

In [520]:
df2 = pd.read_csv("product_characteristics_R.csv")

In [283]:
df2

,material,sku_properties_body_shape_description,sku_properties_ofc,sku_properties_weight,sku_properties_height,sku_properties_diameter,sku_properties_neck_name
0,F3T0555QNPQ,SQUARE,5.0,15.75,45.5,0.0,Narrow Neck
1,F3T0570QNPQ,OVAL,6.5,14.50,42.2,0.0,Narrow Neck
2,F3T1268QNPQ,RECTANGULAR,12.0,35.00,55.0,0.0,Narrow Neck
3,F3T1812QHTQ,ROUND,34.0,63.00,85.5,35.3,Narrow Neck
4,F3T1935QHPQ,ROUND,13.2,26.00,65.5,23.5,Narrow Neck
...,...,...,...,...,...,...,...
2942,F3V1615QJPQ,RECTANGULAR,83.0,146.50,93.5,0.0,Narrow Neck
2943,F3V1717QJPQ,RECTANGULAR,108.0,176.00,81.5,0.0,Narrow Neck
2944,F3V2103QJTQ,ROUND,110.0,123.00,125.8,49.0,Narrow Neck
2945,F3V2265QJTQ,ROUND,108.0,227.00,105.5,51.7,Narrow Neck
2946,F3V2495QJPQ,RECTANGULAR,104.0,185.00,91.0,0.0,Narrow Neck

In [521]:
df_["material"] = [0]*len(df_)

In [522]:
for ind in df_.index:
    df_["material"][ind] = df_["Material Number"][ind][:11]

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rishav\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [291]:
df_.material

0        F3V0865QKPQ
1        F3V0865QKPQ
2        F3V0865QKPQ
3        F3V0865QKPQ
4        F3V0865QKPQ
            ...
96598    F3T0459QKPQ
96599    F3T0459QKPQ
96600    F3T1018QNPQ
96601    F3Z0933QFTQ
96602    F3X0094QMPQ
Name: material, Length: 96603, dtype: object

In [523]:
df3 = pd.merge(df_, df2, how='left', on="material")
df3

,Date,TimeStamp,Month,Furnace,Line,Hour,Material Number,Segment,Material description,Section,...,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result,material,sku_properties_body_shape_description,sku_properties_ofc,sku_properties_weight,sku_properties_height,sku_properties_diameter,sku_properties_neck_name
0,2021-01-01,7:00:00,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,0.1195,2.50585,13.0,F3V0865QKPQ,ROUND,131.0,100.0,96.0,53.0,Narrow Neck
1,2021-01-01,8:00:00,2021-01-01,160,J19,8,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,0.1195,2.50585,13.0,F3V0865QKPQ,ROUND,131.0,100.0,96.0,53.0,Narrow Neck
2,2021-01-01,9:00:00,2021-01-01,160,J19,9,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,0.1195,2.50585,13.0,F3V0865QKPQ,ROUND,131.0,100.0,96.0,53.0,Narrow Neck
3,2021-01-01,10:00:00,2021-01-01,160,J19,10,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,0.1195,2.50585,13.0,F3V0865QKPQ,ROUND,131.0,100.0,96.0,53.0,Narrow Neck
4,2021-01-01,7:00:00,2021-01-01,160,J14,7,F3T0465QKPQ000002X,Pharma Type 3,30 ML VIALS ( Shrink in Box ) - DB414,6,...,0.1195,2.50585,13.0,F3T0465QKPQ,ROUND,38.0,40.0,67.0,35.0,Narrow Neck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,2022-01-01,6:00:00,2021-12-01,160,J17,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,NaN,NaN,NaN,F3T0459QKPQ,ROUND,17.0,23.5,57.0,25.5,Narrow Neck
70530,2022-01-01,6:00:00,2021-12-01,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,NaN,NaN,NaN,F3T0459QKPQ,ROUND,17.0,23.5,57.0,25.5,Narrow Neck
70531,2022-01-01,6:00:00,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,NaN,NaN,NaN,F3T1018QNPQ,NaN,NaN,NaN,NaN,NaN,NaN
70532,2022-01-01,6:00:00,2021-12-01,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,...,NaN,NaN,NaN,F3Z0933QFTQ,NaN,NaN,NaN,NaN,NaN,NaN
70533,2022-01-01,6:00:00,2021-12-01,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,...,NaN,NaN,NaN,F3X0094QMPQ,NaN,NaN,NaN,NaN,NaN,NaN

In [524]:
df3["timestamp"] = pd.to_datetime(df3["timestamp"])

KeyError: 'timestamp'

In [525]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70534 entries, 0 to 70533
Data columns (total 82 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   70534 non-null  datetime64[ns]
 1   TimeStamp                              70534 non-null  object
 2   Month                                  70534 non-null  object
 3   Furnace                                70534 non-null  int64
 4   Line                                   70534 non-null  object
 5   Hour                                   70534 non-null  int64
 6   Material Number                        70534 non-null  object
 7   Segment                                70519 non-null  object
 8   Material description                   70534 non-null  object
 9   Section                                70534 non-null  int64
 10  GOB                                    70534 non-null  int64
 11  Actual Start                           70534 non-null  object
 12  Actual End                             70534 non-null  object
 13  ActPackedQty                           70534 non-null  int64
 14  Uncleared Qty                          70534 non-null  int64
 15  Std Eff.                               70534 non-null  float64
 16  Clrd Eff                               70534 non-null  int64
 17  Act BPM                                70534 non-null  float64
 18  Bud. Price                             70534 non-null  float64
 19  ActWght                                70534 non-null  float64
 20  Order Number                           70534 non-null  int64
 21  Plant                                  70534 non-null  int64
 22  Order Type                             70534 non-null  object
 23  Total Days                             70534 non-null  float64
 24  DPR Eff                                70534 non-null  float64
 25  Std Value                              70534 non-null  float64
 26  ActDrw(Ton)                            70534 non-null  float64
 27  Total DPR Qty                          70534 non-null  int64
 28  RvsdActGobCut                          70534 non-null  int64
 29  DPR PckTon                             70534 non-null  float64
 30  DPR Value                              70534 non-null  float64
 31  Run Date                               70534 non-null  object
 32  Old Material                           42787 non-null  object
 33  Non Std                                70534 non-null  int64
 34  Prod Clr Qty                           70534 non-null  int64
 35  Prod Uclr Qty                          70534 non-null  int64
 36  StdPackedQty                           70534 non-null  int64
 37  Rvsd Std Eff                           70534 non-null  float64
 38  Pckd Eff                               70534 non-null  float64
 39  Prod Clrd Eff                          70534 non-null  float64
 40  Std BPM                                70534 non-null  float64
 41  Rvsd Std Pckd Qty                      70534 non-null  int64
 42  RvsdStdBPM                             70534 non-null  float64
 43  StdWght                                70534 non-null  float64
 44  Crew                                   0 non-null      float64
 45  PassedQty                              70534 non-null  int64
 46  Shift                                  70534 non-null  int64
 47  Pckd Value                             70534 non-null  float64
 48  Shift-Date                             70534 non-null  object
 49  StdDrw(Ton)                            70534 non-null  float64
 50  Run Days                               70534 non-null  float64
 51  Quality Fail                           70534 non-null  int64
 52  Cumm.Days                              70534 non-null  float64
 53  Other Fail                             70534 non-null  int64
 54  Clrd Value                             70534 non-null  int64
 55  StdPckTon                              70534 non-null  float64
 56  ExpctdQtyFrmFail                       70534 non-null  int64
 57  Unclrd Value                           70534 non-null  float64
 58  ActPckTon                              70534 non-null  float64
 59  ActDrwTon/Day                          70534 non-null  float64
 60  ActClrdTon                             70534 non-null  int64
 61  StdGobCut                              70534 non-null  int64
 62  ActGobCut                              70534 non-null  int64
 63  Eligible DownTime                      70534 non-null  int64
 64  glass_properties_date                  62142 non-null  datetime64[ns]
 65  chem_comp_SiO2                         62142 non-null  float64
 66  chem_comp_Al2O3                        62142 non-null  float64
 67  chem_comp_Fe2O3                        62142 non-null  float64
 68  chem_comp_CaO                          62142 non-null  float64
 69  chem_comp_MgO                          62142 non-null  float64
 70  chem_comp_Na2O                         62142 non-null  float64
 71  chem_comp_K2O                          62142 non-null  float64
 72  chem_comp_SO3                          62142 non-null  float64
 73  physical_test_density_gm_cc            62142 non-null  float64
 74  physical_test_seed_count_result        62142 non-null  float64
 75  material                               70534 non-null  object
 76  sku_properties_body_shape_description  23192 non-null  object
 77  sku_properties_ofc                     23192 non-null  float64
 78  sku_properties_weight                  23192 non-null  float64
 79  sku_properties_height                  23192 non-null  float64
 80  sku_properties_diameter                23192 non-null  float64
 81  sku_properties_neck_name               23192 non-null  object
dtypes: datetime64[ns](2), float64(39), int64(26), object(15)
memory usage: 44.7+ MB

In [54]:
df4 = pd.read_csv("ce_setout_final_R.csv")

In [55]:
df4

,Date,Time,Identifier,LineName,JobNumber,PONumber,SampleSize,cavity_identifier,DefectCode,DefectCount,Name
0,2021-11-03,21:30:00,1849d915-26c2-4fb1-b4a2-000183958622,J16,J19298,1022057,100,22bf2b29-6499-431d-92d4-3b611eb6db91,543,1,BREAKAGE
1,2021-11-03,21:30:00,1849d915-26c2-4fb1-b4a2-000183958622,J16,J19298,1022057,100,761c9653-dd85-44f9-a98d-905f2b01b112,543,1,BREAKAGE
2,2021-11-03,21:30:00,1849d915-26c2-4fb1-b4a2-000183958622,J16,J19298,1022057,100,0a338788-f21a-4a5d-a809-7c74d578ddaa,324,2,HEEL TAP
3,2021-11-03,21:30:00,1849d915-26c2-4fb1-b4a2-000183958622,J16,J19298,1022057,100,22bf2b29-6499-431d-92d4-3b611eb6db91,505,1,Bubble (>2.5 mm)
4,2021-11-03,21:30:00,1849d915-26c2-4fb1-b4a2-000183958622,J16,J19298,1022057,100,ad63c289-6eea-4f95-ad0a-f4c7622e7bc0,505,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...,...,...,...,...,...
107535,2021-01-31,03:30:00,47a0a8cb-9535-4109-aa43-402222b0c9ed,J17,J18647,1021217,100,d7f2ba9b-9220-469c-8c6e-e13cbd010e3b,505,1,Bubble (>2.5 mm)
107536,2021-06-04,03:30:00,b86b4fd3-1e54-4f8d-ad6f-40261e38d3e2,J18,J20012,1022849,100,dccb5b53-8fc4-4b35-b509-4979f6784fbe,505,1,Bubble (>2.5 mm)
107537,2021-06-04,03:30:00,b86b4fd3-1e54-4f8d-ad6f-40261e38d3e2,J18,J20012,1022849,100,764819bb-e108-4e9a-9287-e584229b02df,505,1,Bubble (>2.5 mm)
107538,2021-06-04,03:30:00,b86b4fd3-1e54-4f8d-ad6f-40261e38d3e2,J18,J20012,1022849,100,f2969450-f7cf-4579-8011-da2141fd70a1,324,1,HEEL TAP
107539,2021-06-04,03:30:00,b86b4fd3-1e54-4f8d-ad6f-40261e38d3e2,J18,J20012,1022849,100,764819bb-e108-4e9a-9287-e584229b02df,102,1,PIN CRACK

In [56]:
df4 = df4.drop(['DefectCode'], axis=1)
df4 = df4.drop(['PONumber'], axis=1)
# df4 = df4.drop(['PONumber'], axis=1)
df4 = df4.drop(['Identifier'], axis=1)
df4 = df4.drop(['cavity_identifier'], axis=1)
df4

,Date,Time,LineName,JobNumber,SampleSize,DefectCount,Name
0,2021-11-03,21:30:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03,21:30:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03,21:30:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03,21:30:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03,21:30:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...,...
107535,2021-01-31,03:30:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04,03:30:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04,03:30:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04,03:30:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04,03:30:00,J18,J20012,100,1,PIN CRACK

In [58]:
df4["Time"] = pd.to_datetime(df4['Time'])
df4['Time'] = df4['Time'].dt.round('H')

In [59]:
df4 = df4.drop(["Date"], axis =1)

In [60]:
df4

,Time,LineName,JobNumber,SampleSize,DefectCount,Name
0,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03 22:00:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...
107535,2021-01-31 04:00:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04 04:00:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04 04:00:00,J18,J20012,100,1,PIN CRACK

In [32]:
df4 = df4.loc[:, ~df4.columns.str.contains('^Unnamed')]
df4['Date'] = pd.to_datetime(df4['TimeStamp']).dt.date
df4['Time'] = pd.to_datetime(df4['TimeStamp']).dt.time
df4 = df4.loc[:, ~df4.columns.str.contains('^TimeStamp')]
df4

KeyError: 'TimeStamp'

In [232]:
df4["Date"] = pd.to_datetime(df4["Date"])

In [57]:
df4["Time"] = pd.to_datetime(df4['Date'].astype(
    str) + ' ' + df4['Time'].astype(str))
df4

,Date,Time,LineName,JobNumber,SampleSize,DefectCount,Name
0,2021-11-03,2021-11-03 21:30:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03,2021-11-03 21:30:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03,2021-11-03 21:30:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03,2021-11-03 21:30:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03,2021-11-03 21:30:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...,...
107535,2021-01-31,2021-01-31 03:30:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04,2021-06-04 03:30:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04,2021-06-04 03:30:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04,2021-06-04 03:30:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04,2021-06-04 03:30:00,J18,J20012,100,1,PIN CRACK

In [61]:
df4

,Time,LineName,JobNumber,SampleSize,DefectCount,Name
0,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03 22:00:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...
107535,2021-01-31 04:00:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04 04:00:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04 04:00:00,J18,J20012,100,1,PIN CRACK

In [62]:
df7

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94012,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,...,F3T0459QKPQ000003X,6.0,4.0,64.0,254.86,0.0,0.0,132.04,2915156.0,Fast Moving
94013,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,120.09,1137263.0,Fast Moving
94014,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,60.04,1206137.0,Fast Moving
94015,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,...,F3Z0933QFTQ030005X,8.0,1.0,22.0,22.04,0.0,0.0,196.21,66166.0,NaN
94016,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,...,F3X0094QMPQ030002X,9.0,2.0,59.0,117.00,0.0,0.0,64.43,271200.0,Fast Moving

In [63]:
df4

,Time,LineName,JobNumber,SampleSize,DefectCount,Name
0,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03 22:00:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...
107535,2021-01-31 04:00:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04 04:00:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04 04:00:00,J18,J20012,100,1,PIN CRACK

In [64]:
df4.rename(columns = {'Name':'DefectName'}, inplace = True)

In [65]:
df4

,Time,LineName,JobNumber,SampleSize,DefectCount,DefectName
0,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
1,2021-11-03 22:00:00,J16,J19298,100,1,BREAKAGE
2,2021-11-03 22:00:00,J16,J19298,100,2,HEEL TAP
3,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
4,2021-11-03 22:00:00,J16,J19298,100,1,Bubble (>2.5 mm)
...,...,...,...,...,...,...
107535,2021-01-31 04:00:00,J17,J18647,100,1,Bubble (>2.5 mm)
107536,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107537,2021-06-04 04:00:00,J18,J20012,100,1,Bubble (>2.5 mm)
107538,2021-06-04 04:00:00,J18,J20012,100,1,HEEL TAP
107539,2021-06-04 04:00:00,J18,J20012,100,1,PIN CRACK

In [66]:
df7["TimeStamp"] = pd.to_datetime(df7["TimeStamp"])
df4["Time"] = pd.to_datetime(df4["Time"])

In [67]:
df7

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94012,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,...,F3T0459QKPQ000003X,6.0,4.0,64.0,254.86,0.0,0.0,132.04,2915156.0,Fast Moving
94013,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,120.09,1137263.0,Fast Moving
94014,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,60.04,1206137.0,Fast Moving
94015,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,...,F3Z0933QFTQ030005X,8.0,1.0,22.0,22.04,0.0,0.0,196.21,66166.0,NaN
94016,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,...,F3X0094QMPQ030002X,9.0,2.0,59.0,117.00,0.0,0.0,64.43,271200.0,Fast Moving

In [75]:
df5 = pd.merge(df7, df4,  how='left', left_on=[
    'TimeStamp', 'Line'], right_on=['Time', 'LineName'])

In [76]:
df5

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,GobWeightHigh,GlassDraw,PackedQunatity,Classification,Time,LineName_y,JobNumber,SampleSize,DefectCount,DefectName
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218346,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,...,0.0,132.04,2915156.0,Fast Moving,NaT,NaN,NaN,NaN,NaN,NaN
218347,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,0.0,120.09,1137263.0,Fast Moving,NaT,NaN,NaN,NaN,NaN,NaN
218348,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,0.0,60.04,1206137.0,Fast Moving,NaT,NaN,NaN,NaN,NaN,NaN
218349,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,...,0.0,196.21,66166.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
218350,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,...,0.0,64.43,271200.0,Fast Moving,NaT,NaN,NaN,NaN,NaN,NaN

In [77]:
df5 = df5.loc[:, ~df5.columns.str.contains('^Unnamed')]
df5 = df5.loc[:, ~df5.columns.str.contains('^Date_x')]
df5 = df5.loc[:, ~df5.columns.str.contains('^Date_y')]
df5 = df5.loc[:, ~df5.columns.str.contains('^Month')]
df5 = df5.drop(['Time'], axis=1)
# df5 = df5.drop(['Hour'], axis=1)
df5

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,LineName_y,JobNumber,SampleSize,DefectCount,DefectName
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218346,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,...,0.0,0.0,132.04,2915156.0,Fast Moving,NaN,NaN,NaN,NaN,NaN
218347,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,0.0,0.0,120.09,1137263.0,Fast Moving,NaN,NaN,NaN,NaN,NaN
218348,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,0.0,0.0,60.04,1206137.0,Fast Moving,NaN,NaN,NaN,NaN,NaN
218349,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,...,0.0,0.0,196.21,66166.0,NaN,NaN,NaN,NaN,NaN,NaN
218350,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,...,0.0,0.0,64.43,271200.0,Fast Moving,NaN,NaN,NaN,NaN,NaN

In [286]:
print(sum(pd.isnull(df5["DefectCountSum"])))

KeyError: 'DefectCountSum'

In [78]:
df5 = df5[df5['DefectName'].notna()]

In [79]:
df5 = df5[df5['Line'] == "J13"]

In [80]:
df5 = df5[df5['DefectName'] == "Bubble (>2.5 mm)"]

In [81]:
df5_= df5.reset_index(drop=True)
df5_

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,LineName_y,JobNumber,SampleSize,DefectCount,DefectName
0,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
1,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
2,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
3,2021-01-02,2021-01-02 14:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
4,2021-01-02,2021-01-02 14:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,2021-12-09,2021-12-09 12:00:00,160,J13,76.13,2021-12-09,71.60,1.680,0.024,10.06,...,0.0,0.0,20.8,54216.0,Non Moving,J13,J22824,50.0,1.0,Bubble (>2.5 mm)
2334,2021-12-09,2021-12-09 12:00:00,160,J13,76.13,2021-12-09,71.60,1.680,0.024,10.06,...,0.0,0.0,20.8,54216.0,Non Moving,J13,J22824,50.0,1.0,Bubble (>2.5 mm)
2335,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)
2336,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)
2337,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)

In [82]:
df5_ = df5_[df5_['Line']=="J13"]

In [83]:
df5_

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,LineName_y,JobNumber,SampleSize,DefectCount,DefectName
0,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
1,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
2,2021-01-02,2021-01-02 10:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
3,2021-01-02,2021-01-02 14:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
4,2021-01-02,2021-01-02 14:00:00,160,J13,88.00,2021-01-02,71.06,1.705,0.024,10.20,...,0.0,0.0,480.0,905766.0,NaN,J13,J18720,50.0,1.0,Bubble (>2.5 mm)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,2021-12-09,2021-12-09 12:00:00,160,J13,76.13,2021-12-09,71.60,1.680,0.024,10.06,...,0.0,0.0,20.8,54216.0,Non Moving,J13,J22824,50.0,1.0,Bubble (>2.5 mm)
2334,2021-12-09,2021-12-09 12:00:00,160,J13,76.13,2021-12-09,71.60,1.680,0.024,10.06,...,0.0,0.0,20.8,54216.0,Non Moving,J13,J22824,50.0,1.0,Bubble (>2.5 mm)
2335,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)
2336,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)
2337,2021-12-11,2021-12-11 02:00:00,160,J13,91.35,2021-12-11,71.44,1.750,0.025,9.87,...,NaN,NaN,NaN,NaN,NaN,J13,J23783,50.0,1.0,Bubble (>2.5 mm)

In [277]:
df5_["Pckd Eff"]

KeyError: 'Pckd Eff'

In [292]:
df5_.to_csv("Flat_File_Defect_Name_Modelling.csv")

In [534]:
# f = df5.pop('Date')
# s = df5.pop("Time")
t = df5.pop("TimeStamp")
# df5.insert(0, 'Date', f)
# df5.insert(1, 'Time', s)
df5.insert(0, "TimeStamp", t)

In [535]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70534 entries, 0 to 70533
Data columns (total 87 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   TimeStamp                              70534 non-null  object
 1   Date                                   70534 non-null  datetime64[ns]
 2   Month                                  70534 non-null  object
 3   Furnace                                70534 non-null  int64
 4   Line                                   70534 non-null  object
 5   Hour                                   70534 non-null  int64
 6   Material Number                        70534 non-null  object
 7   Segment                                70519 non-null  object
 8   Material description                   70534 non-null  object
 9   Section                                70534 non-null  int64
 10  GOB                                    70534 non-null  int64
 11  Actual Start                           70534 non-null  object
 12  Actual End                             70534 non-null  object
 13  ActPackedQty                           70534 non-null  int64
 14  Uncleared Qty                          70534 non-null  int64
 15  Std Eff.                               70534 non-null  float64
 16  Clrd Eff                               70534 non-null  int64
 17  Act BPM                                70534 non-null  float64
 18  Bud. Price                             70534 non-null  float64
 19  ActWght                                70534 non-null  float64
 20  Order Number                           70534 non-null  int64
 21  Plant                                  70534 non-null  int64
 22  Order Type                             70534 non-null  object
 23  Total Days                             70534 non-null  float64
 24  DPR Eff                                70534 non-null  float64
 25  Std Value                              70534 non-null  float64
 26  ActDrw(Ton)                            70534 non-null  float64
 27  Total DPR Qty                          70534 non-null  int64
 28  RvsdActGobCut                          70534 non-null  int64
 29  DPR PckTon                             70534 non-null  float64
 30  DPR Value                              70534 non-null  float64
 31  Run Date                               70534 non-null  object
 32  Old Material                           42787 non-null  object
 33  Non Std                                70534 non-null  int64
 34  Prod Clr Qty                           70534 non-null  int64
 35  Prod Uclr Qty                          70534 non-null  int64
 36  StdPackedQty                           70534 non-null  int64
 37  Rvsd Std Eff                           70534 non-null  float64
 38  Pckd Eff                               70534 non-null  float64
 39  Prod Clrd Eff                          70534 non-null  float64
 40  Std BPM                                70534 non-null  float64
 41  Rvsd Std Pckd Qty                      70534 non-null  int64
 42  RvsdStdBPM                             70534 non-null  float64
 43  StdWght                                70534 non-null  float64
 44  Crew                                   0 non-null      float64
 45  PassedQty                              70534 non-null  int64
 46  Shift                                  70534 non-null  int64
 47  Pckd Value                             70534 non-null  float64
 48  Shift-Date                             70534 non-null  object
 49  StdDrw(Ton)                            70534 non-null  float64
 50  Run Days                               70534 non-null  float64
 51  Quality Fail                           70534 non-null  int64
 52  Cumm.Days                              70534 non-null  float64
 53  Other Fail                             70534 non-null  int64
 54  Clrd Value                             70534 non-null  int64
 55  StdPckTon                              70534 non-null  float64
 56  ExpctdQtyFrmFail                       70534 non-null  int64
 57  Unclrd Value                           70534 non-null  float64
 58  ActPckTon                              70534 non-null  float64
 59  ActDrwTon/Day                          70534 non-null  float64
 60  ActClrdTon                             70534 non-null  int64
 61  StdGobCut                              70534 non-null  int64
 62  ActGobCut                              70534 non-null  int64
 63  Eligible DownTime                      70534 non-null  int64
 64  glass_properties_date                  62142 non-null  datetime64[ns]
 65  chem_comp_SiO2                         62142 non-null  float64
 66  chem_comp_Al2O3                        62142 non-null  float64
 67  chem_comp_Fe2O3                        62142 non-null  float64
 68  chem_comp_CaO                          62142 non-null  float64
 69  chem_comp_MgO                          62142 non-null  float64
 70  chem_comp_Na2O                         62142 non-null  float64
 71  chem_comp_K2O                          62142 non-null  float64
 72  chem_comp_SO3                          62142 non-null  float64
 73  physical_test_density_gm_cc            62142 non-null  float64
 74  physical_test_seed_count_result        62142 non-null  float64
 75  material                               70534 non-null  object
 76  sku_properties_body_shape_description  23192 non-null  object
 77  sku_properties_ofc                     23192 non-null  float64
 78  sku_properties_weight                  23192 non-null  float64
 79  sku_properties_height                  23192 non-null  float64
 80  sku_properties_diameter                23192 non-null  float64
 81  sku_properties_neck_name               23192 non-null  object
 82  LineName                               0 non-null      object
 83  JobNumber                              0 non-null      object
 84  DefectCountSum                         0 non-null      float64
 85  SampleSizeSum                          0 non-null      float64
 86  Time                                   0 non-null      object
dtypes: datetime64[ns](2), float64(41), int64(26), object(18)
memory usage: 47.4+ MB

In [536]:
df5["TimeStamp"] = pd.to_datetime(df5["TimeStamp"].astype(str)).dt.time

In [537]:
df5

,TimeStamp,Date,Month,Furnace,Line,Hour,Material Number,Segment,Material description,Section,...,sku_properties_ofc,sku_properties_weight,sku_properties_height,sku_properties_diameter,sku_properties_neck_name,LineName,JobNumber,DefectCountSum,SampleSizeSum,Time
0,07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,131.0,100.0,96.0,53.0,Narrow Neck,NaN,NaN,NaN,NaN,NaN
1,08:00:00,2021-01-01,2021-01-01,160,J19,8,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,131.0,100.0,96.0,53.0,Narrow Neck,NaN,NaN,NaN,NaN,NaN
2,09:00:00,2021-01-01,2021-01-01,160,J19,9,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,131.0,100.0,96.0,53.0,Narrow Neck,NaN,NaN,NaN,NaN,NaN
3,10:00:00,2021-01-01,2021-01-01,160,J19,10,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,131.0,100.0,96.0,53.0,Narrow Neck,NaN,NaN,NaN,NaN,NaN
4,07:00:00,2021-01-01,2021-01-01,160,J14,7,F3T0465QKPQ000002X,Pharma Type 3,30 ML VIALS ( Shrink in Box ) - DB414,6,...,38.0,40.0,67.0,35.0,Narrow Neck,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,06:00:00,2022-01-01,2021-12-01,160,J17,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,17.0,23.5,57.0,25.5,Narrow Neck,NaN,NaN,NaN,NaN,NaN
70530,06:00:00,2022-01-01,2021-12-01,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,17.0,23.5,57.0,25.5,Narrow Neck,NaN,NaN,NaN,NaN,NaN
70531,06:00:00,2022-01-01,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70532,06:00:00,2022-01-01,2021-12-01,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70533,06:00:00,2022-01-01,2021-12-01,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result
0,2021-01-01,7:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
1,2021-01-01,8:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
2,2021-01-01,9:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
3,2021-01-01,10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
4,2021-01-01,7:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,2022-01-01,6:00:00,160,J17,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70530,2022-01-01,6:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70531,2022-01-01,6:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70532,2022-01-01,6:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70533,2022-01-01,6:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_["TimeStamp"] = pd.to_datetime(df_['Date'].astype(str) + ' ' + df_['TimeStamp'].astype(str))

In [18]:
df_

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,2022-01-01,2022-01-01 06:00:00,160,J17,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70530,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70531,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70532,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70533,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df6 = pd.read_csv("job_plan_R_30min.csv", encoding="ISO-8859–1")
df6

C:\Users\Rishav\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,StartTime,EndTime,Id,Identifier,LineName,Number,Name,FGCode,NumberOfSection,...,JobRunningMode,JobChangeStartTime,NumberOfPacksPerPalette,AQLCode,InspectionLotNumber,GobWeight,PlantCode,StandardEfficiencyAchievedDate,ExpectedJobChangeTime,Classification
0,0,01-01-2021 16:00,01-01-2021 16:30,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,...,0,14:00.0,0,NaN,30000037137,482.0,1130,30:00.0,22:01.6,Fast Moving
1,0,01-01-2021 16:30,01-01-2021 17:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,...,0,14:00.0,0,NaN,30000037137,482.0,1130,30:00.0,22:01.6,Fast Moving
2,0,01-01-2021 17:00,01-01-2021 17:30,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,...,0,14:00.0,0,NaN,30000037137,482.0,1130,30:00.0,22:01.6,Fast Moving
3,0,01-01-2021 17:30,01-01-2021 18:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,...,0,14:00.0,0,NaN,30000037137,482.0,1130,30:00.0,22:01.6,Fast Moving
4,0,01-01-2021 18:00,01-01-2021 18:30,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,...,0,14:00.0,0,NaN,30000037137,482.0,1130,30:00.0,22:01.6,Fast Moving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174646,946,08-02-2022 13:00,08-02-2022 13:30,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,...,0,00:00.0,0,NaN,30000049896,538.0,1130,30:00.0,06:30.0,NaN
174647,946,08-02-2022 13:30,08-02-2022 14:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,...,0,00:00.0,0,NaN,30000049896,538.0,1130,30:00.0,06:30.0,NaN
174648,946,08-02-2022 14:00,08-02-2022 14:30,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,...,0,00:00.0,0,NaN,30000049896,538.0,1130,30:00.0,06:30.0,NaN
174649,946,08-02-2022 14:30,08-02-2022 15:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,...,0,00:00.0,0,NaN,30000049896,538.0,1130,30:00.0,06:30.0,NaN
174650,946,08-02-2022 15:00,08-02-2022 15:30,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,...,0,00:00.0,0,NaN,30000049896,538.0,1130,30:00.0,06:30.0,NaN

In [20]:
df6 = df6[["StartTime", "EndTime", "LineName", "Number", "Name", "FGCode", "NumberOfSection", "NumberOfGob", "GobCutPerMinute", "ISMachineActualSpeed", "GobWeightLow", "GobWeightHigh", "GlassDraw", "PackedQunatity", "Classification"]]
df6

,StartTime,EndTime,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification
0,01-01-2021 16:00,01-01-2021 16:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
1,01-01-2021 16:30,01-01-2021 17:00,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
2,01-01-2021 17:00,01-01-2021 17:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
3,01-01-2021 17:30,01-01-2021 18:00,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
4,01-01-2021 18:00,01-01-2021 18:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174646,08-02-2022 13:00,08-02-2022 13:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174647,08-02-2022 13:30,08-02-2022 14:00,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174648,08-02-2022 14:00,08-02-2022 14:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174649,08-02-2022 14:30,08-02-2022 15:00,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174650,08-02-2022 15:00,08-02-2022 15:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN

In [21]:
df6

,StartTime,EndTime,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification
0,01-01-2021 16:00,01-01-2021 16:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
1,01-01-2021 16:30,01-01-2021 17:00,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
2,01-01-2021 17:00,01-01-2021 17:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
3,01-01-2021 17:30,01-01-2021 18:00,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
4,01-01-2021 18:00,01-01-2021 18:30,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,30,60.90,0,0,206.72,266965.0,Fast Moving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174646,08-02-2022 13:00,08-02-2022 13:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174647,08-02-2022 13:30,08-02-2022 14:00,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174648,08-02-2022 14:00,08-02-2022 14:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174649,08-02-2022 14:30,08-02-2022 15:00,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN
174650,08-02-2022 15:00,08-02-2022 15:30,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,36,36.36,0,0,231.83,238062.0,NaN

In [22]:

df6["StartTime"]=pd.to_datetime(df6["StartTime"])
df6["EndTime"] = pd.to_datetime(df6["EndTime"])
df6.info()

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174651 entries, 0 to 174650
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   StartTime             174649 non-null  datetime64[ns]
 1   EndTime               174649 non-null  datetime64[ns]
 2   LineName              174651 non-null  object
 3   Number                174651 non-null  object
 4   Name                  174651 non-null  object
 5   FGCode                174651 non-null  object
 6   NumberOfSection       174651 non-null  int64
 7   NumberOfGob           174651 non-null  int64
 8   GobCutPerMinute       174651 non-null  int64
 9   ISMachineActualSpeed  174651 non-null  float64
 10  GobWeightLow          174651 non-null  int64
 11  GobWeightHigh         174651 non-null  int64
 12  GlassDraw             174651 non-null  float64
 13  PackedQunatity        174476 non-null  float64
 14  Classification        153943 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(5), object(5)
memory usage: 20.0+ MB

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df_

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,2.69,13.89,0.0,0.1195,2.50585,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,2022-01-01,2022-01-01 06:00:00,160,J17,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70530,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70531,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70532,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70533,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_["TimeStamp"] = pd.to_datetime(df_["TimeStamp"])

In [25]:
df7 =  pd.merge(df_, df6,  how='left', left_on=[
    'TimeStamp', 'Line'], right_on=['StartTime', 'LineName'])

In [26]:
df7

,Date,TimeStamp,Furnace,Line,DPR Eff,glass_properties_date,chem_comp_SiO2,chem_comp_Al2O3,chem_comp_Fe2O3,chem_comp_CaO,...,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification
0,2021-01-01,2021-01-01 07:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,2021-01-01 08:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01,2021-01-01 09:00:00,160,J19,93.95,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01,2021-01-01 10:00:00,160,J19,88.58,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J14,91.41,2021-01-01,71.315,1.75,0.026,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94012,2022-01-01,2022-01-01 06:00:00,160,J16,90.29,NaT,NaN,NaN,NaN,NaN,...,F3T0459QKPQ000003X,6.0,4.0,64.0,254.86,0.0,0.0,132.04,2915156.0,Fast Moving
94013,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,120.09,1137263.0,Fast Moving
94014,2022-01-01,2022-01-01 06:00:00,160,J14,71.21,NaT,NaN,NaN,NaN,NaN,...,F3T1018QNPQ000001X,6.0,3.0,77.0,232.12,0.0,0.0,60.04,1206137.0,Fast Moving
94015,2022-01-01,2022-01-01 06:00:00,160,J20,75.00,NaT,NaN,NaN,NaN,NaN,...,F3Z0933QFTQ030005X,8.0,1.0,22.0,22.04,0.0,0.0,196.21,66166.0,NaN
94016,2022-01-01,2022-01-01 06:00:00,160,J13,91.59,NaT,NaN,NaN,NaN,NaN,...,F3X0094QMPQ030002X,9.0,2.0,59.0,117.00,0.0,0.0,64.43,271200.0,Fast Moving

In [550]:
df

,timestamp,prod_mis_seq_no,prod_mis_sales_order_number,prod_mis_production_order_number,prod_mis_plant,prod_mis_plant_name,prod_mis_sales_order_type_id,prod_mis_line,prod_mis_material_number,prod_mis_old_material_number,...,prod_mis_create_date_timestamp,prod_mis_actual_start_timestamp,prod_mis_date_timestamp,prod_mis_actual_end_timestamp,prod_mis_shift_date_timestamp,prod_mis_create_date_dt,prod_mis_actual_start_dt,prod_mis_date_dt,prod_mis_actual_end_dt,prod_mis_shift_date_dt
0,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
1,2021-12-01,2048.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
2,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
3,2021-12-01,381.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
4,2021-12-01,2004.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35407,2021-04-06,858.0,NaN,5003784,1130,NaN,NPDT,J20,F3Z0846BFBQ030001X,NaN,...,NaN,2021-04-06,2021-04-06,NaN,NaN,NaN,2021-04-06,2021-04-06,NaN,NaN
35408,2021-04-13,900.0,NaN,5003805,1130,NaN,NPDT,J20,F3Z1042QFQQ030004X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35409,2021-04-13,962.0,NaN,5003817,1130,NaN,NPDT,J13,F3Y0308QHTQ030001X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35410,2021-04-13,900.0,NaN,5003805,1130,NaN,NPDT,J20,F3Z1042QFQQ030004X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35411,2021-04-13,962.0,NaN,5003817,1130,NaN,NPDT,J13,F3Y0308QHTQ030001X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN

In [551]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35412 entries, 0 to 35411
Data columns (total 71 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   timestamp                              35412 non-null  datetime64[ns]
 1   prod_mis_seq_no                        35412 non-null  float64
 2   prod_mis_sales_order_number            0 non-null      float64
 3   prod_mis_production_order_number       35412 non-null  int64
 4   prod_mis_plant                         35412 non-null  int64
 5   prod_mis_plant_name                    0 non-null      float64
 6   prod_mis_sales_order_type_id           35412 non-null  object
 7   prod_mis_line                          35412 non-null  object
 8   prod_mis_material_number               35412 non-null  object
 9   prod_mis_old_material_number           0 non-null      float64
 10  prod_mis_material_description          0 non-null      float64
 11  prod_mis_segment                       0 non-null      float64
 12  prod_mis_gob                           35412 non-null  float64
 13  prod_mis_shift                         0 non-null      float64
 14  prod_mis_run_days                      35412 non-null  float64
 15  prod_mis_standard_packed_quantity      0 non-null      float64
 16  prod_mis_revised_std_packed_quantity   0 non-null      float64
 17  prod_mis_actual_packed_qty             0 non-null      float64
 18  prod_mis_passed_qty                    0 non-null      float64
 19  prod_mis_quality_fail                  0 non-null      float64
 20  prod_mis_q_o_failuer                   0 non-null      float64
 21  prod_mis_q_o_n_failuer                 0 non-null      float64
 22  prod_mis_non_standard                  0 non-null      float64
 23  prod_mis_other_fail                    0 non-null      float64
 24  prod_mis_expected_qty_from_fail        0 non-null      float64
 25  prod_mis_total_dpr_qty                 35412 non-null  float64
 26  prod_mis_actual_cleared_qty            0 non-null      float64
 27  prod_mis_rejected_qty                  0 non-null      float64
 28  prod_mis_uncleared_qty                 0 non-null      float64
 29  prod_mis_production_cleared_qty        0 non-null      float64
 30  prod_mis_production_uncleared_qty      0 non-null      float64
 31  prod_mis_standard_efficency            0 non-null      float64
 32  prod_mis_reveised_standard_efficency   0 non-null      float64
 33  prod_mis_packed_efficency              0 non-null      float64
 34  prod_mis_dpr_efficency                 35412 non-null  float64
 35  prod_mis_cleared_efficency             0 non-null      float64
 36  prod_mis_production_cleared_efficency  0 non-null      float64
 37  prod_mis_standard_bpm                  0 non-null      float64
 38  prod_mis_revised_standard_bpm          0 non-null      float64
 39  prod_mis_actual_bpm                    35412 non-null  float64
 40  prod_mis_budget_price                  35412 non-null  float64
 41  prod_mis_standard_value                0 non-null      float64
 42  prod_mis_packed_value                  0 non-null      float64
 43  prod_mis_dpr_value                     0 non-null      float64
 44  prod_mis_cleared_value                 0 non-null      float64
 45  prod_mis_uncleared_value               0 non-null      float64
 46  prod_mis_standard_drw_tons             0 non-null      float64
 47  prod_mis_actual_drw_tons               35412 non-null  float64
 48  prod_mis_standard_weight               0 non-null      float64
 49  prod_mis_actual_weight                 35412 non-null  float64
 50  prod_mis_standard_day_draw             0 non-null      float64
 51  prod_mis_actual_day_draw               0 non-null      float64
 52  prod_mis_standard_packed_ton           0 non-null      float64
 53  prod_mis_actual_packed_ton             0 non-null      float64
 54  prod_mis_dpr_packed_ton                0 non-null      float64
 55  prod_mis_actual_cleared_ton            0 non-null      float64
 56  prod_mis_standard_gob_cut              0 non-null      float64
 57  prod_mis_actual_gob_cut                0 non-null      float64
 58  prod_mis_reveised_actual_gob_cut       0 non-null      float64
 59  prod_mis_eligible_downtime             0 non-null      float64
 60  prod_mis_section                       35412 non-null  float64
 61  prod_mis_create_date_timestamp         0 non-null      float64
 62  prod_mis_actual_start_timestamp        35412 non-null  object
 63  prod_mis_date_timestamp                35412 non-null  object
 64  prod_mis_actual_end_timestamp          0 non-null      float64
 65  prod_mis_shift_date_timestamp          0 non-null      float64
 66  prod_mis_create_date_dt                0 non-null      float64
 67  prod_mis_actual_start_dt               35412 non-null  object
 68  prod_mis_date_dt                       35412 non-null  object
 69  prod_mis_actual_end_dt                 0 non-null      float64
 70  prod_mis_shift_date_dt                 0 non-null      float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(7)
memory usage: 19.2+ MB

In [555]:
df

,timestamp,prod_mis_seq_no,prod_mis_sales_order_number,prod_mis_production_order_number,prod_mis_plant,prod_mis_plant_name,prod_mis_sales_order_type_id,prod_mis_line,prod_mis_material_number,prod_mis_old_material_number,...,prod_mis_create_date_timestamp,prod_mis_actual_start_timestamp,prod_mis_date_timestamp,prod_mis_actual_end_timestamp,prod_mis_shift_date_timestamp,prod_mis_create_date_dt,prod_mis_actual_start_dt,prod_mis_date_dt,prod_mis_actual_end_dt,prod_mis_shift_date_dt
0,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
1,2021-12-01,2048.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
2,2021-12-01,303.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
3,2021-12-01,381.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
4,2021-12-01,2004.0,NaN,1027063,1130,NaN,BABO,J15,F3T0487QNLQ000001M,NaN,...,NaN,2021-12-01,2021-12-01,NaN,NaN,NaN,2021-12-01,2021-12-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35407,2021-04-06,858.0,NaN,5003784,1130,NaN,NPDT,J20,F3Z0846BFBQ030001X,NaN,...,NaN,2021-04-06,2021-04-06,NaN,NaN,NaN,2021-04-06,2021-04-06,NaN,NaN
35408,2021-04-13,900.0,NaN,5003805,1130,NaN,NPDT,J20,F3Z1042QFQQ030004X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35409,2021-04-13,962.0,NaN,5003817,1130,NaN,NPDT,J13,F3Y0308QHTQ030001X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35410,2021-04-13,900.0,NaN,5003805,1130,NaN,NPDT,J20,F3Z1042QFQQ030004X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN
35411,2021-04-13,962.0,NaN,5003817,1130,NaN,NPDT,J13,F3Y0308QHTQ030001X,NaN,...,NaN,2021-04-13,2021-04-13,NaN,NaN,NaN,2021-04-13,2021-04-13,NaN,NaN

In [552]:
df["timestamp"]=pd.to_datetime(df["timestamp"])

In [553]:
df9 = pd.merge(df7, df,  how='left', left_on=[
    'Date', 'Line'], right_on=['timestamp', 'prod_mis_line'])

In [554]:
df9

,TimeStamp,Date,Month,Furnace,Line,Hour,Material Number,Segment,Material description,Section,...,prod_mis_create_date_timestamp,prod_mis_actual_start_timestamp,prod_mis_date_timestamp,prod_mis_actual_end_timestamp,prod_mis_shift_date_timestamp,prod_mis_create_date_dt,prod_mis_actual_start_dt,prod_mis_date_dt,prod_mis_actual_end_dt,prod_mis_shift_date_dt
0,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
1,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
2,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
3,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
4,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461543,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461544,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461545,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461546,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461547,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [328]:
df9 = df9.loc[:, ~df9.columns.str.contains('^Month')]

In [329]:
df9

,Date,TimeStamp,Furnace,Line,Hour,Material Number,Segment,Material description,Section,GOB,...,prod_mis_create_date_timestamp,prod_mis_actual_start_timestamp,prod_mis_date_timestamp,prod_mis_actual_end_timestamp,prod_mis_shift_date_timestamp,prod_mis_create_date_dt,prod_mis_actual_start_dt,prod_mis_date_dt,prod_mis_actual_end_dt,prod_mis_shift_date_dt
0,2021-01-01,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
1,2021-01-01,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
2,2021-01-01,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
3,2021-01-01,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
4,2021-01-01,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,...,NaN,2021-01-01,2021-01-01,NaN,NaN,NaN,2021-01-01,2021-01-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137722,2022-01-01,2022-01-01 06:00:00,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137723,2022-01-01,2022-01-01 06:00:00,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137724,2022-01-01,2022-01-01 06:00:00,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137725,2022-01-01,2022-01-01 06:00:00,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137726,2022-01-01,2022-01-01 06:00:00,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [556]:
df10 = pd.read_csv("Furnace Wise Cullet 30062020 V2.csv")

In [557]:
df10 = df10[["Date", "160 TPD"]]

In [558]:
df10["Date"] = pd.to_datetime(df10["Date"])

In [559]:
df10

          Date 160 TPD
0   2019-01-07      22
1   2019-02-07      20
2   2019-03-07      20
3   2019-04-07      20
4   2019-05-07      20
..         ...     ...
361 2020-06-26      19
362 2020-06-27      19
363 2020-06-28      19
364 2020-06-29      21
365 2020-06-30      22

[366 rows x 2 columns]

In [560]:
df11 = pd.merge(df7, df10,  how='left', left_on=[
    'Date'], right_on=['Date'])

In [561]:
df11

,TimeStamp,Date,Month,Furnace,Line,Hour,Material Number,Segment,Material description,Section,...,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,160 TPD
0,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 08:00:00,2021-01-01,2021-01-01,160,J19,8,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 09:00:00,2021-01-01,2021-01-01,160,J19,9,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 10:00:00,2021-01-01,2021-01-01,160,J19,10,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 07:00:00,2021-01-01,2021-01-01,160,J14,7,F3T0465QKPQ000002X,Pharma Type 3,30 ML VIALS ( Shrink in Box ) - DB414,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94012,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,...,6.0,4.0,64.0,254.86,0.0,0.0,132.04,2915156.0,Fast Moving,NaN
94013,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,6.0,3.0,77.0,232.12,0.0,0.0,120.09,1137263.0,Fast Moving,NaN
94014,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,...,6.0,3.0,77.0,232.12,0.0,0.0,60.04,1206137.0,Fast Moving,NaN
94015,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,...,8.0,1.0,22.0,22.04,0.0,0.0,196.21,66166.0,NaN,NaN
94016,2022-01-01 06:00:00,2022-01-01,2021-12-01,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,...,9.0,2.0,59.0,117.00,0.0,0.0,64.43,271200.0,Fast Moving,NaN

In [565]:
df11 = df11.loc[:, ~df11.columns.str.contains('^Date')]
df11 = df11.loc[:, ~df11.columns.str.contains('^Month')]

In [566]:
df11

,TimeStamp,Furnace,Line,Hour,Material Number,Segment,Material description,Section,GOB,Actual Start,...,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,160 TPD
0,2021-01-01 07:00:00,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,2020-12-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 08:00:00,160,J19,8,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,2020-12-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 09:00:00,160,J19,9,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,2020-12-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 10:00:00,160,J19,10,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,6,3,2020-12-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 07:00:00,160,J14,7,F3T0465QKPQ000002X,Pharma Type 3,30 ML VIALS ( Shrink in Box ) - DB414,6,3,2020-12-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94012,2022-01-01 06:00:00,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,6,4,2021-12-31,...,6.0,4.0,64.0,254.86,0.0,0.0,132.04,2915156.0,Fast Moving,NaN
94013,2022-01-01 06:00:00,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,3,2021-12-31,...,6.0,3.0,77.0,232.12,0.0,0.0,120.09,1137263.0,Fast Moving,NaN
94014,2022-01-01 06:00:00,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,6,3,2021-12-31,...,6.0,3.0,77.0,232.12,0.0,0.0,60.04,1206137.0,Fast Moving,NaN
94015,2022-01-01 06:00:00,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,8,1,2021-12-31,...,8.0,1.0,22.0,22.04,0.0,0.0,196.21,66166.0,NaN,NaN
94016,2022-01-01 06:00:00,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,9,2,2021-12-31,...,9.0,2.0,59.0,117.00,0.0,0.0,64.43,271200.0,Fast Moving,NaN

In [567]:
df11.to_csv("Full_flat_file_160tpd.csv")

In [464]:
df12 = pd.read_csv("UEMS_JBR_TILLNov2021.csv")

In [465]:
df12 = df12.loc[:, ~df12.columns.str.contains('^Unnamed')]

In [466]:
df12= df12[df12['yyyyMMdd'].notna()]
df12 = df12[df12['hhmm'].notna()]

In [385]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76951 entries, 0 to 76950
Columns: 359 entries, JBR_UEM_15MIN_TAG_CRP_66KV_DGVCL_Incomer to hhmm
dtypes: float64(355), object(4)
memory usage: 210.8+ MB

In [359]:
int(df12["yyyyMMdd"][10])

20210721

In [467]:
df12['hhmm'] = df12['hhmm'].fillna(0000)
df12['yyyyMMdd'] = df12['yyyyMMdd'].fillna(00000000)

In [379]:
# for ind in df12.index:
#     # if df12["yyyyMMdd"][ind].isna()
#     df12["yyyyMMdd"][ind] = int()
#     df12["hhmm"][ind] = int(df12["hhmm"][ind])

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [410]:
df12

,JBR_UEM_15MIN_TAG_CRP_66KV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_CRP_66KV_Transformer-1,JBR_UEM_15MIN_TAG_CRP_3.3kv_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_Transformer_No._1_Incomer,JBR_UEM_15MIN_TAG_255-FO_SERVICE,JBR_UEM_15MIN_TAG_255_TPD_Cooling_Tower_MCC-9,JBR_UEM_15MIN_TAG_255_TPD_changeover_PDB_S#1,JBR_UEM_15MIN_TAG_255_TPD_Fire_Fighting_&_MCC-7,...,JBR_UEM_15MIN_TAG_STREAM1_INFERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_STREAM1_SUPERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_From_timestamp,JBR_UEM_15MIN_TAG_To_timestamp,JBR_UEM_15MIN_TAG_fs_last_modified_date_timestamp,JBR_UEM_15MIN_TAG_From_dt,JBR_UEM_15MIN_TAG_To_dt,JBR_UEM_15MIN_TAG_fs_last_modified_date_dt,yyyyMMdd,hhmm
0,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,15.434667,...,0.0,0.0,2021-09-30 08:00:00,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800
1,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,15.434667,...,0.0,0.0,2021-09-30 08:00:00,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800
2,2709.463843,983.040,958.836364,724.172800,188.288,181.134222,4.997389,23.207822,32.920178,15.413333,...,0.0,0.0,2021-09-30 08:15:00,2021-09-30 08:30:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800
3,2697.898667,966.656,957.067636,728.045382,186.496,187.505778,5.160708,23.360000,36.131556,15.456000,...,0.0,0.0,2021-09-30 08:30:00,2021-09-30 08:45:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800
4,2658.577067,966.656,947.987692,721.392485,179.968,173.852444,5.026181,23.345778,35.392000,15.445333,...,0.0,0.0,2021-09-30 08:45:00,2021-09-30 09:00:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2020-10-07 23:45:00,2020-10-08 00:00:00,NaN,2020-10-07,2020-10-08,NaN,20201007,2300
76947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2020-10-28 23:45:00,2020-10-29 00:00:00,NaN,2020-10-28,2020-10-29,NaN,20201028,2300
76948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2021-02-13 23:45:00,2021-02-14 00:00:00,NaN,2021-02-13,2021-02-14,NaN,20210213,2300
76949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2020-11-01 23:45:00,2020-11-02 00:00:00,NaN,2020-11-01,2020-11-02,NaN,20201101,2300
76950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2020-10-05 23:45:00,2020-10-06 00:00:00,NaN,2020-10-05,2020-10-06,NaN,20201005,2300

In [388]:
df12["yyyyMMdd"] = pd.to_datetime(df12["yyyyMMdd"]).dt.date

In [469]:
df12["hhmm"] = df12["hhmm"].astype(str)

In [470]:
df12["yyyyMMdd"] = df12["yyyyMMdd"].astype(str)

In [472]:
for ind in df12.index:
    df12["yyyyMMdd"][ind] = "".join(df12["yyyyMMdd"][ind].split(".")[:-1])
    df12["hhmm"][ind] = "".join(df12["hhmm"][ind].split(".")[:-1])

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [474]:
for ind in df12.index:
    if(df12["hhmm"][ind]=="0"):
        df12["hhmm"][ind]="0000"

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [487]:
df12['Date'] = df12['yyyyMMdd'].apply(lambda x:
                                pd.datetime.strptime(x,'%Y%m%d'))
df12["Time"] = df12['hhmm'].apply(lambda x:
                                      pd.datetime.strptime(x, '%H%M')).dt.time

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  after removing the cwd from sys.path.

In [491]:
df12

,JBR_UEM_15MIN_TAG_CRP_66KV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_CRP_66KV_Transformer-1,JBR_UEM_15MIN_TAG_CRP_3.3kv_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_Transformer_No._1_Incomer,JBR_UEM_15MIN_TAG_255-FO_SERVICE,JBR_UEM_15MIN_TAG_255_TPD_Cooling_Tower_MCC-9,JBR_UEM_15MIN_TAG_255_TPD_changeover_PDB_S#1,JBR_UEM_15MIN_TAG_255_TPD_Fire_Fighting_&_MCC-7,...,JBR_UEM_15MIN_TAG_To_timestamp,JBR_UEM_15MIN_TAG_fs_last_modified_date_timestamp,JBR_UEM_15MIN_TAG_From_dt,JBR_UEM_15MIN_TAG_To_dt,JBR_UEM_15MIN_TAG_fs_last_modified_date_dt,yyyyMMdd,hhmm,Date,Time,TimeStamp
0,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,15.434667,...,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800,2021-09-30,08:00:00,2021-09-30 08:00:00
1,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,15.434667,...,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800,2021-09-30,08:00:00,2021-09-30 08:00:00
2,2709.463843,983.040,958.836364,724.172800,188.288,181.134222,4.997389,23.207822,32.920178,15.413333,...,2021-09-30 08:30:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800,2021-09-30,08:00:00,2021-09-30 08:00:00
3,2697.898667,966.656,957.067636,728.045382,186.496,187.505778,5.160708,23.360000,36.131556,15.456000,...,2021-09-30 08:45:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800,2021-09-30,08:00:00,2021-09-30 08:00:00
4,2658.577067,966.656,947.987692,721.392485,179.968,173.852444,5.026181,23.345778,35.392000,15.445333,...,2021-09-30 09:00:00,NaN,2021-09-30,2021-09-30,NaN,20210930,800,2021-09-30,08:00:00,2021-09-30 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-10-08 00:00:00,NaN,2020-10-07,2020-10-08,NaN,20201007,2300,2020-10-07,23:00:00,2020-10-07 23:00:00
76947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-10-29 00:00:00,NaN,2020-10-28,2020-10-29,NaN,20201028,2300,2020-10-28,23:00:00,2020-10-28 23:00:00
76948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-02-14 00:00:00,NaN,2021-02-13,2021-02-14,NaN,20210213,2300,2021-02-13,23:00:00,2021-02-13 23:00:00
76949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-11-02 00:00:00,NaN,2020-11-01,2020-11-02,NaN,20201101,2300,2020-11-01,23:00:00,2020-11-01 23:00:00
76950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-10-06 00:00:00,NaN,2020-10-05,2020-10-06,NaN,20201005,2300,2020-10-05,23:00:00,2020-10-05 23:00:00

In [495]:
df12 = df12.drop(["hhmm", "yyyyMMdd", "Date", "Time"], axis =1)

In [489]:
df12["TimeStamp"] = pd.to_datetime(df12['Date'].astype(
    str) + ' ' + df12['Time'].astype(str))

In [496]:
f = df12.pop("TimeStamp")
df12.insert(0, 'TimeStamp', f)
df12

,TimeStamp,JBR_UEM_15MIN_TAG_CRP_66KV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_CRP_66KV_Transformer-1,JBR_UEM_15MIN_TAG_CRP_3.3kv_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_DGVCL_Incomer,JBR_UEM_15MIN_TAG_255_TPD_3.3kV_Transformer-1,JBR_UEM_15MIN_TAG_255_TPD_Transformer_No._1_Incomer,JBR_UEM_15MIN_TAG_255-FO_SERVICE,JBR_UEM_15MIN_TAG_255_TPD_Cooling_Tower_MCC-9,JBR_UEM_15MIN_TAG_255_TPD_changeover_PDB_S#1,...,JBR_UEM_15MIN_TAG_STREAM2_INFERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_STREAM2_SUPERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_STREAM1_INFERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_STREAM1_SUPERIOR_CV_NCV_METER_JBR,JBR_UEM_15MIN_TAG_From_timestamp,JBR_UEM_15MIN_TAG_To_timestamp,JBR_UEM_15MIN_TAG_fs_last_modified_date_timestamp,JBR_UEM_15MIN_TAG_From_dt,JBR_UEM_15MIN_TAG_To_dt,JBR_UEM_15MIN_TAG_fs_last_modified_date_dt
0,2021-09-30 08:00:00,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,...,0.0,0.0,0.0,0.0,2021-09-30 08:00:00,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN
1,2021-09-30 08:00:00,2740.946823,983.040,974.289455,747.706182,194.944,195.697778,5.188578,23.355733,36.740267,...,0.0,0.0,0.0,0.0,2021-09-30 08:00:00,2021-09-30 08:15:00,NaN,2021-09-30,2021-09-30,NaN
2,2021-09-30 08:00:00,2709.463843,983.040,958.836364,724.172800,188.288,181.134222,4.997389,23.207822,32.920178,...,0.0,0.0,0.0,0.0,2021-09-30 08:15:00,2021-09-30 08:30:00,NaN,2021-09-30,2021-09-30,NaN
3,2021-09-30 08:00:00,2697.898667,966.656,957.067636,728.045382,186.496,187.505778,5.160708,23.360000,36.131556,...,0.0,0.0,0.0,0.0,2021-09-30 08:30:00,2021-09-30 08:45:00,NaN,2021-09-30,2021-09-30,NaN
4,2021-09-30 08:00:00,2658.577067,966.656,947.987692,721.392485,179.968,173.852444,5.026181,23.345778,35.392000,...,0.0,0.0,0.0,0.0,2021-09-30 08:45:00,2021-09-30 09:00:00,NaN,2021-09-30,2021-09-30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76946,2020-10-07 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020-10-07 23:45:00,2020-10-08 00:00:00,NaN,2020-10-07,2020-10-08,NaN
76947,2020-10-28 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020-10-28 23:45:00,2020-10-29 00:00:00,NaN,2020-10-28,2020-10-29,NaN
76948,2021-02-13 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2021-02-13 23:45:00,2021-02-14 00:00:00,NaN,2021-02-13,2021-02-14,NaN
76949,2020-11-01 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020-11-01 23:45:00,2020-11-02 00:00:00,NaN,2020-11-01,2020-11-02,NaN
76950,2020-10-05 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020-10-05 23:45:00,2020-10-06 00:00:00,NaN,2020-10-05,2020-10-06,NaN

In [497]:
df13 = pd.merge(df11, df12,  how='left', left_on=[
    'TimeStamp'], right_on=['TimeStamp'])

MemoryError: Unable to allocate 5.53 GiB for an array with shape (53, 13996247) and data type float64

In [5]:
df8 = pd.read_csv("Efficiency_combined_data.csv")
df8

,Unnamed: 0,Date,TimeStamp,Month,Furnace,Line,Hour,Material Number,Segment,Material description,...,Clrd Value,StdPckTon,ExpctdQtyFrmFail,Unclrd Value,ActPckTon,ActDrwTon/Day,ActClrdTon,StdGobCut,ActGobCut,Eligible DownTime
0,0,2021-01-01,7:00:00,2021-01-01,160,J19,7,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,...,0,0.79,0,0.29,0.82,21.03,0,9180,8941,0
1,1,2021-01-01,8:00:00,2021-01-01,160,J19,8,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,...,0,0.79,0,0.29,0.82,21.03,0,9180,8941,0
2,2,2021-01-01,9:00:00,2021-01-01,160,J19,9,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,...,0,0.79,0,0.29,0.82,21.03,0,9180,8941,0
3,3,2021-01-01,10:00:00,2021-01-01,160,J19,10,F3V0865QKPQ000001X,Pharma Type 3,100 ML VICTORY -DS80,...,0,0.79,0,0.27,0.78,21.03,0,9180,8941,0
4,4,2021-01-01,7:00:00,2021-01-01,160,J14,7,F3T0465QKPQ000002X,Pharma Type 3,30 ML VIALS ( Shrink in Box ) - DB414,...,0,0.51,0,0.21,0.49,12.80,0,14040,14040,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70529,5955,2022-01-01,6:00:00,2021-12-01,160,J17,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,...,0,0.39,0,0.26,0.39,10.40,0,18720,18840,0
70530,5956,2022-01-01,6:00:00,2021-12-01,160,J16,6,F3T0459QKPQ000003X,Pharma Type 3,15 ML KAPL (Shrink in Box) –DB567,...,0,0.39,0,0.26,0.39,10.40,0,18720,18840,0
70531,5957,2022-01-01,6:00:00,2021-12-01,160,J14,6,F3T1018QNPQ000001X,Pharma Type 3,20 ML YOGIJI - ST135,...,0,0.34,9828,0.35,0.38,11.59,0,13500,13801,0
70532,5958,2022-01-01,6:00:00,2021-12-01,160,J20,6,F3Z0933QFTQ030005X,SFB,1.75 LTR ARIZONA BAR TOP SLF STK(IN)EB06,...,0,0.87,0,1.23,1.46,46.76,0,1440,1440,0
70533,5959,2022-01-01,6:00:00,2021-12-01,160,J13,6,F3X0094QMPQ030002X,SFB,300 ML SQUAT JAR - DS23,...,0,1.04,0,0.44,1.30,34.17,0,6696,6780,0

In [52]:
df4['StartTime'] = df4.apply(lambda d: pd.date_range(d['StartTime'],
                                                    d['EndTime'],
                                                    freq='30min')[:-1],
                            axis=1)

In [53]:
df4

,StartTime,EndTime,Id,Identifier,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,...,JobRunningMode,JobChangeStartTime,NumberOfPacksPerPalette,AQLCode,InspectionLotNumber,GobWeight,PlantCode,StandardEfficiencyAchievedDate,ExpectedJobChangeTime,Classification
0,"DatetimeIndex(['2021-01-01 16:00:00', '2021-01...",2021-01-05 03:30:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
1,"DatetimeIndex(['2021-01-07 04:30:00', '2021-01...",2021-01-07 07:00:00,18241,a4ab8a9c-0ae4-4920-a1ef-fe666e7621ff,J13,J18241,750 ML ROUND WHISKEY - EB20,F3Z0148QHLQ030001X,8,2,...,0,2021-01-05 04:20:00.0000000,0,NaN,3.000004e+10,469.0,1130,2021-01-05 11:30:00.0000000,2021-01-07 06:07:02.3830000,Fast Moving
2,"DatetimeIndex(['2021-01-07 08:00:00', '2021-01...",2021-01-09 20:30:00,18280,f03a3af8-491b-4437-9354-0fd3f8d910d1,J13,J18280,750 ML SKY TOWER (S.L.W.) - EB20,F3Z0011AVAW000001X,6,2,...,0,2021-01-07 05:16:32.8700000,0,NaN,3.000004e+10,500.0,1130,2021-01-07 17:30:00.0000000,2021-01-09 11:56:30.3930000,Fast Moving
3,"DatetimeIndex(['2021-01-08 16:30:00', '2021-01...",2021-01-12 02:00:00,18314,49f2fdbd-a3af-440e-b11e-91ede8893b4c,J13,J18314,750 ML AMRUT WHISKY EB-15,F3Z0242QHTQ000001X,6,2,...,0,2021-01-09 02:20:00.0000000,0,NaN,3.000004e+10,570.0,1130,2021-01-09 16:30:00.0000000,2021-01-11 09:48:53.8570000,Fast Moving
4,"DatetimeIndex(['2021-01-11 07:00:00', '2021-01...",2021-01-12 12:30:00,18346,812f9482-1030-43a9-970b-2eb9b9248522,J13,J18346,250 ML INFUSION KABI F-II - EB40,F2X0042QKPQ000002X,7,2,...,0,2021-01-11 03:50:39.6070000,0,NaN,3.000004e+10,168.0,1130,2021-01-11 19:30:00.0000000,2021-01-12 13:56:29.1330000,Fast Moving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,"DatetimeIndex(['2022-01-21 18:30:00', '2022-01...",2022-01-24 20:00:00,25150,c1f12236-b345-4923-be34-56739f61b6d8,J20,J25150,750 ML DRY FLY (IN) EB-6,F3Z1532QFTQ030002X,8,1,...,0,2022-01-17 03:30:00.0000000,0,NaN,3.000005e+10,815.0,1130,2022-01-17 12:30:00.0000000,2022-01-19 16:52:25.8230000,NaN
943,"DatetimeIndex(['2022-01-20 10:00:00', '2022-01...",2022-01-24 19:30:00,25261,c117b0ad-2b73-468d-8ac0-6af3da7cc3c5,J20,J25261,750ML PHILA LITCHFIELD BT CUSTOM BOTTLE,F3Z0959BFBQ030001X,8,1,...,0,2022-01-20 03:30:00.0000000,0,NaN,3.000005e+10,844.0,1130,2022-01-20 11:30:00.0000000,2022-01-23 03:25:51.9470000,NaN
944,"DatetimeIndex(['2022-01-30 18:30:00', '2022-01...",2022-02-05 10:30:00,25317,9643e892-c18d-4105-a518-77cd6f484083,J20,J25317,750 ML JACKSON MORGAN REVISED (IN) EB-06,F3Z1560QRLQ030003X,8,1,...,0,2022-01-24 02:00:00.0000000,0,NaN,3.000005e+10,735.0,1130,2022-01-24 07:30:00.0000000,2022-02-01 20:25:57.9300000,NaN
945,"DatetimeIndex(['2022-01-29 09:00:00', '2022-01...",2022-01-30 12:30:00,25428,a8d7b0b4-8f1f-4ea5-853d-d018208b9b75,J20,J25428,750 ML BACARDI GRAN RESERVA BARE,F3Z1090BFBQ030003X,8,1,...,0,2022-01-31 01:55:00.0000000,0,NaN,3.000005e+10,663.0,1130,2022-01-31 07:30:00.0000000,2022-02-01 04:36:14.6930000,NaN
946,"DatetimeIndex(['2022-02-01 18:30:00', '2022-02...",2022-02-08 15:30:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN

In [54]:
df4 = df4.explode('StartTime')
df4['EndTime'] = df4['StartTime'] + pd.Timedelta('30min')
df4

,StartTime,EndTime,Id,Identifier,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,...,JobRunningMode,JobChangeStartTime,NumberOfPacksPerPalette,AQLCode,InspectionLotNumber,GobWeight,PlantCode,StandardEfficiencyAchievedDate,ExpectedJobChangeTime,Classification
0,2021-01-01 16:00:00,2021-01-01 16:30:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
0,2021-01-01 16:30:00,2021-01-01 17:00:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
0,2021-01-01 17:00:00,2021-01-01 17:30:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
0,2021-01-01 17:30:00,2021-01-01 18:00:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
0,2021-01-01 18:00:00,2021-01-01 18:30:00,18166,86f8dbc4-b57f-449e-93e5-e48a36eb7e1f,J13,J18166,32.000 OZ BSTN RD SHELF STK F,F3Z0691QRQQ000002X,6,2,...,0,2021-01-01 06:14:00.0000000,0,NaN,3.000004e+10,482.0,1130,2021-01-01 18:30:00.0000000,2021-01-05 00:22:01.6370000,Fast Moving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,2022-02-08 13:00:00,2022-02-08 13:30:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN
946,2022-02-08 13:30:00,2022-02-08 14:00:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN
946,2022-02-08 14:00:00,2022-02-08 14:30:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN
946,2022-02-08 14:30:00,2022-02-08 15:00:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN
946,2022-02-08 15:00:00,2022-02-08 15:30:00,25498,d6bd9fce-428c-40e2-8931-cb7bad524b1f,J20,J25498,1 LTR LINCOLN SCW TOP TE SLF STK(IN)EB12,F3Z1099QRTQ030004X,8,1,...,0,2022-02-02 02:00:00.0000000,0,NaN,3.000005e+10,538.0,1130,2022-02-02 07:30:00.0000000,2022-02-07 04:06:29.9700000,NaN

In [55]:
df4.to_csv("job_plan_R_30min.csv")

In [58]:
df5 = pd.read_csv("ce_setout_final_R.csv")

In [67]:
df6 = df5.drop(['Identifier', 'cavity_identifier', 'DefectCode', 'Name', 'PONumber'], axis=1)

In [75]:
df6["TimeStamp"] = pd.to_datetime(df6['Date'] + ' ' + df6['Time'])

In [77]:
df6 = df6.drop(['Date', 'Time'], axis=1)

In [80]:
f = df6.pop('TimeStamp')
df6.insert(0, 'TimeStamp', f)

In [87]:
df6["DefectPercentage"] = [0]*len(df6)

In [167]:
df6

,TimeStamp,LineName,JobNumber,SampleSize,DefectCount,DefectPercentage
0,2021-11-03 21:30:00,J16,J19298,100,1,0
1,2021-11-03 21:30:00,J16,J19298,100,1,0
2,2021-11-03 21:30:00,J16,J19298,100,2,0
3,2021-11-03 21:30:00,J16,J19298,100,1,0
4,2021-11-03 21:30:00,J16,J19298,100,1,0
...,...,...,...,...,...,...
107535,2021-01-31 03:30:00,J17,J18647,100,1,0
107536,2021-06-04 03:30:00,J18,J20012,100,1,0
107537,2021-06-04 03:30:00,J18,J20012,100,1,0
107538,2021-06-04 03:30:00,J18,J20012,100,1,0
107539,2021-06-04 03:30:00,J18,J20012,100,1,0

In [168]:
def divide_two_cols(df_sub):
    return df_sub['DefectCount'].sum() *100/ float(df_sub['SampleSize'].sum())


df7 =df6.groupby(['TimeStamp', 'LineName', "JobNumber"]).apply(divide_two_cols)

In [205]:
df8 = pd.DataFrame(df7)

In [166]:
df8

                                               0
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183     1.230769
                    J19      J18093     1.333333
2021-01-01 02:30:00 J17      J18152     1.333333
                    J18      J18094     1.277778
2021-01-01 03:30:00 J20      J18165     4.888889
...                                          ...
2022-12-01 04:30:00 J15      J25062     1.454545
                    J18      J25018     1.000000
                    J19      J25063     1.125000
2022-12-01 05:30:00 J18      J25018     1.100000
2022-12-01 22:30:00 J20      J24974     3.714286

[8805 rows x 1 columns]

In [153]:
ratios = df6.groupby(['TimeStamp', 'LineName', "JobNumber"]).apply(lambda x: x['DefectCount'].sum()*100/
                                   x['SampleSize'].sum().astype(float)).to_dict()

# df6['DefectPercentage'] = df6[['TimeStamp', 'LineName', "JobNumber"]].map(ratios)
ratios

{(Timestamp('2021-01-01 01:30:00'), 'J16', 'J18183'): 1.2307692307692308,
 (Timestamp('2021-01-01 01:30:00'), 'J19', 'J18093'): 1.3333333333333333,
 (Timestamp('2021-01-01 02:30:00'), 'J17', 'J18152'): 1.3333333333333333,
 (Timestamp('2021-01-01 02:30:00'), 'J18', 'J18094'): 1.2777777777777777,
 (Timestamp('2021-01-01 03:30:00'), 'J20', 'J18165'): 4.888888888888889,
 (Timestamp('2021-01-01 04:30:00'), 'J16', 'J18183'): 1.2857142857142858,
 (Timestamp('2021-01-01 04:30:00'), 'J20', 'J18165'): 7.333333333333333,
 (Timestamp('2021-01-01 05:30:00'), 'J15', 'J18189'): 1.5384615384615385,
 (Timestamp('2021-01-01 07:30:00'), 'J14', 'J18098'): 1.1666666666666667,
 (Timestamp('2021-01-01 07:30:00'), 'J18', 'J18094'): 1.1666666666666667,
 (Timestamp('2021-01-01 11:30:00'), 'J14', 'J18098'): 1.0769230769230769,
 (Timestamp('2021-01-01 11:30:00'), 'J16', 'J18183'): 1.2,
 (Timestamp('2021-01-01 13:30:00'), 'J15', 'J18189'): 1.2727272727272727,
 (Timestamp('2021-01-01 15:30:00'), 'J14', 'J18098'): 1.0909090909090908,
 (Timestamp('2021-01-01 15:30:00'), 'J19', 'J18191'): 1.967741935483871,
 (Timestamp('2021-01-01 16:30:00'), 'J20', 'J18165'): 2.2857142857142856,
 (Timestamp('2021-01-01 18:30:00'), 'J15', 'J18189'): 1.3846153846153846,
 (Timestamp('2021-01-01 18:30:00'), 'J20', 'J18165'): 2.25,
 (Timestamp('2021-01-01 19:30:00'), 'J20', 'J18165'): 2.857142857142857,
 (Timestamp('2021-01-01 20:30:00'), 'J18', 'J18190'): 1.2941176470588236,
 (Timestamp('2021-01-01 20:30:00'), 'J19', 'J18191'): 2.6666666666666665,
 (Timestamp('2021-01-01 21:30:00'), 'J18', 'J18190'): 1.2352941176470589,
 (Timestamp('2021-01-01 21:30:00'), 'J20', 'J18165'): 2.25,
 (Timestamp('2021-01-01 22:30:00'), 'J18', 'J18190'): 1.2105263157894737,
 (Timestamp('2021-01-01 22:30:00'), 'J20', 'J18165'): 2.0,
 (Timestamp('2021-01-01 23:30:00'), 'J16', 'J18183'): 1.4444444444444444,
 (Timestamp('2021-01-01 23:30:00'), 'J19', 'J18191'): 2.130434782608696,
 (Timestamp('2021-01-02 02:30:00'), 'J18', 'J18669'): 1.9090909090909092,
 (Timestamp('2021-01-02 04:30:00'), 'J13', 'J18720'): 5.0,
 (Timestamp('2021-01-02 04:30:00'), 'J18', 'J18669'): 1.8333333333333333,
 (Timestamp('2021-01-02 05:30:00'), 'J17', 'J18767'): 1.588235294117647,
 (Timestamp('2021-01-02 08:30:00'), 'J20', 'J18671'): 3.5555555555555554,
 (Timestamp('2021-01-02 09:30:00'), 'J15', 'J18768'): 1.4545454545454546,
 (Timestamp('2021-01-02 10:30:00'), 'J13', 'J18720'): 3.7142857142857144,
 (Timestamp('2021-01-02 10:30:00'), 'J14', 'J18587'): 1.4444444444444444,
 (Timestamp('2021-01-02 10:30:00'), 'J16', 'J18766'): 1.3076923076923077,
 (Timestamp('2021-01-02 10:30:00'), 'J19', 'J18670'): 1.75,
 (Timestamp('2021-01-02 11:30:00'), 'J14', 'J18587'): 1.3,
 (Timestamp('2021-01-02 12:30:00'), 'J14', 'J18587'): 1.25,
 (Timestamp('2021-01-02 12:30:00'), 'J15', 'J18768'): 1.4444444444444444,
 (Timestamp('2021-01-02 12:30:00'), 'J16', 'J18766'): 1.25,
 (Timestamp('2021-01-02 12:30:00'), 'J19', 'J18670'): 1.8888888888888888,
 (Timestamp('2021-01-02 12:30:00'), 'J20', 'J18671'): 2.857142857142857,
 (Timestamp('2021-01-02 13:30:00'), 'J13', 'J18720'): 3.7142857142857144,
 (Timestamp('2021-01-02 13:30:00'), 'J15', 'J18768'): 1.4,
 (Timestamp('2021-01-02 13:30:00'), 'J16', 'J18766'): 1.3333333333333333,
 (Timestamp('2021-01-02 17:30:00'), 'J13', 'J18720'): 3.111111111111111,
 (Timestamp('2021-01-02 17:30:00'), 'J18', 'J18669'): 1.3125,
 (Timestamp('2021-01-02 18:30:00'), 'J15', 'J18768'): 1.6666666666666667,
 (Timestamp('2021-01-02 18:30:00'), 'J17', 'J18767'): 1.1428571428571428,
 (Timestamp('2021-01-02 18:30:00'), 'J19', 'J18670'): 1.75,
 (Timestamp('2021-01-02 19:30:00'), 'J17', 'J18767'): 1.0833333333333333,
 (Timestamp('2021-01-02 19:30:00'), 'J20', 'J18671'): 2.5714285714285716,
 (Timestamp('2021-01-02 20:30:00'), 'J13', 'J18720'): 3.2,
 (Timestamp('2021-01-02 20:30:00'), 'J19', 'J18670'): 1.5,
 (Timestamp('2021-01-02 23:30:00'), 'J16', 'J18766'): 1.1428571428571428,
 (Timestamp('2021-01-02 23:30:00'), 'J18', 'J18669'): 1.6923076923076923,
 (Timestamp('2021-01-03 01:30:00'), 'J16', 'J19298'): 1.7058823529411764,
 (Timestamp('2021-01-03 02:30:00'), 'J13', 'J19262'): 3.0,
 (Timestamp('2021-01-03 02:30:00'), 'J16', 'J19298'): 1.9333333333333333,
 (Timestamp('2021-01-03 02:30:00'), 'J20', 'J19321'): 3.6,
 (Timestamp('2021-01-03 03:30:00'), 'J14', 'J19242'): 1.5,
 (Timestamp('2021-01-03 03:30:00'), 'J15', 'J19243'): 1.1333333333333333,
 (Timestamp('2021-01-03 07:30:00'), 'J14', 'J19242'): 1.2727272727272727,
 (Timestamp('2021-01-03 07:30:00'), 'J17', 'J19286'): 1.5555555555555556,
 (Timestamp('2021-01-03 07:30:00'), 'J19', 'J19302'): 1.9230769230769231,
 (Timestamp('2021-01-03 08:30:00'), 'J18', 'J19301'): 1.8571428571428572,
 (Timestamp('2021-01-03 09:30:00'), 'J20', 'J19303'): 3.7142857142857144,
 (Timestamp('2021-01-03 10:30:00'), 'J13', 'J19262'): 2.625,
 (Timestamp('2021-01-03 10:30:00'), 'J14', 'J19242'): 1.0,
 (Timestamp('2021-01-03 10:30:00'), 'J19', 'J19302'): 1.75,
 (Timestamp('2021-01-03 11:30:00'), 'J14', 'J19242'): 1.2727272727272727,
 (Timestamp('2021-01-03 11:30:00'), 'J15', 'J19243'): 1.25,
 (Timestamp('2021-01-03 11:30:00'), 'J18', 'J19301'): 1.8181818181818181,
 (Timestamp('2021-01-03 11:30:00'), 'J19', 'J19302'): 1.5833333333333333,
 (Timestamp('2021-01-03 12:30:00'), 'J14', 'J19242'): 1.4,
 (Timestamp('2021-01-03 12:30:00'), 'J18', 'J19301'): 1.5454545454545454,
 (Timestamp('2021-01-03 13:30:00'), 'J14', 'J19242'): 1.1111111111111112,
 (Timestamp('2021-01-03 13:30:00'), 'J17', 'J19286'): 1.2222222222222223,
 (Timestamp('2021-01-03 13:30:00'), 'J18', 'J19301'): 2.0,
 (Timestamp('2021-01-03 13:30:00'), 'J19', 'J19302'): 1.4166666666666667,
 (Timestamp('2021-01-03 15:30:00'), 'J20', 'J19303'): 3.2,
 (Timestamp('2021-01-03 17:30:00'), 'J14', 'J19242'): 1.5,
 (Timestamp('2021-01-03 17:30:00'), 'J17', 'J19286'): 1.5714285714285714,
 (Timestamp('2021-01-03 17:30:00'), 'J20', 'J19303'): 2.5,
 (Timestamp('2021-01-03 18:30:00'), 'J16', 'J19298'): 1.2307692307692308,
 (Timestamp('2021-01-03 18:30:00'), 'J18', 'J19301'): 1.2,
 (Timestamp('2021-01-03 18:30:00'), 'J19', 'J19302'): 1.4666666666666666,
 (Timestamp('2021-01-03 19:30:00'), 'J17', 'J19286'): 1.25,
 (Timestamp('2021-01-03 20:30:00'), 'J15', 'J19243'): 1.3,
 (Timestamp('2021-01-03 20:30:00'), 'J17', 'J19286'): 1.1,
 (Timestamp('2021-01-03 20:30:00'), 'J19', 'J19302'): 1.2352941176470589,
 (Timestamp('2021-01-03 20:30:00'), 'J20', 'J19303'): 3.142857142857143,
 (Timestamp('2021-01-03 21:30:00'), 'J15', 'J19243'): 1.5714285714285714,
 (Timestamp('2021-01-03 23:30:00'), 'J16', 'J19298'): 1.1818181818181819,
 (Timestamp('2021-01-04 01:30:00'), 'J18', 'J19902'): 1.3333333333333333,
 (Timestamp('2021-01-04 02:30:00'), 'J16', 'J19899'): 1.4545454545454546,
 (Timestamp('2021-01-04 03:30:00'), 'J19', 'J19903'): 1.4285714285714286,
 (Timestamp('2021-01-04 04:30:00'), 'J18', 'J19902'): 1.6923076923076923,
 (Timestamp('2021-01-04 05:30:00'), 'J16', 'J19899'): 1.0769230769230769,
 (Timestamp('2021-01-04 05:30:00'), 'J17', 'J19900'): 1.0769230769230769,
 (Timestamp('2021-01-04 05:30:00'), 'J18', 'J19902'): 1.2857142857142858,
 (Timestamp('2021-01-04 06:30:00'), 'J18', 'J19902'): 1.3333333333333333,
 (Timestamp('2021-01-04 10:30:00'), 'J18', 'J19902'): 1.5333333333333334,
 (Timestamp('2021-01-04 11:30:00'), 'J19', 'J19903'): 1.3157894736842106,
 (Timestamp('2021-01-04 12:30:00'), 'J13', 'J19893'): 1.5384615384615385,
 (Timestamp('2021-01-04 12:30:00'), 'J17', 'J19900'): 1.3571428571428572,
 (Timestamp('2021-01-04 13:30:00'), 'J19', 'J19903'): 1.0952380952380953,
 (Timestamp('2021-01-04 17:30:00'), 'J13', 'J19893'): 1.9230769230769231,
 (Timestamp('2021-01-04 17:30:00'), 'J16', 'J19899'): 1.6111111111111112,
 (Timestamp('2021-01-04 18:30:00'), 'J17', 'J19900'): 1.8571428571428572,
 (Timestamp('2021-01-04 20:30:00'), 'J15', 'J19897'): 1.4,
 (Timestamp('2021-01-04 20:30:00'), 'J16', 'J19899'): 1.8461538461538463,
 (Timestamp('2021-01-04 21:30:00'), 'J15', 'J19897'): 1.25,
 (Timestamp('2021-01-04 21:30:00'), 'J16', 'J19899'): 1.5333333333333334,
 (Timestamp('2021-01-04 21:30:00'), 'J20', 'J19906'): 4.333333333333333,
 (Timestamp('2021-01-04 22:30:00'), 'J16', 'J19899'): 1.5384615384615385,
 (Timestamp('2021-01-04 22:30:00'), 'J17', 'J19900'): 1.6363636363636365,
 (Timestamp('2021-01-04 22:30:00'), 'J20', 'J19906'): 3.7142857142857144,
 (Timestamp('2021-01-05 01:30:00'), 'J20', 'J20415'): 3.3333333333333335,
 (Timestamp('2021-01-05 02:30:00'), 'J14', 'J20386'): 1.0833333333333333,
 (Timestamp('2021-01-05 02:30:00'), 'J15', 'J20361'): 1.3333333333333333,
 (Timestamp('2021-01-05 02:30:00'), 'J17', 'J20424'): 1.4,
 (Timestamp('2021-01-05 03:30:00'), 'J17', 'J20424'): 2.0,
 (Timestamp('2021-01-05 04:30:00'), 'J17', 'J20424'): 1.75,
 (Timestamp('2021-01-05 04:30:00'), 'J20', 'J20415'): 3.0,
 (Timestamp('2021-01-05 05:30:00'), 'J14', 'J20386'): 1.4,
 (Timestamp('2021-01-05 07:30:00'), 'J20', 'J20415'): 4.363636363636363,
 (Timestamp('2021-01-05 12:30:00'), 'J15', 'J20454'): 1.5,
 (Timestamp('2021-01-05 15:30:00'), 'J13', 'J20413'): 2.5555555555555554,
 (Timestamp('2021-01-06 01:30:00'), 'J15', 'J20983'): 1.5454545454545454,
 (Timestamp('2021-01-06 02:30:00'), 'J18', 'J21016'): 1.1875,
 (Timestamp('2021-01-06 03:30:00'), 'J16', 'J21013'): 1.5714285714285714,
 (Timestamp('2021-01-06 03:30:00'), 'J18', 'J21016'): 1.2142857142857142,
 (Timestamp('2021-01-06 04:30:00'), 'J17', 'J20950'): 1.4615384615384615,
 (Timestamp('2021-01-06 05:30:00'), 'J15', 'J20983'): 1.0769230769230769,
 (Timestamp('2021-01-06 07:30:00'), 'J14', 'J21014'): 1.3333333333333333,
 (Timestamp('2021-01-06 07:30:00'), 'J17', 'J20950'): 1.875,
 (Timestamp('2021-01-06 07:30:00'), 'J18', 'J21016'): 1.125,
 (Timestamp('2021-01-06 09:30:00'), 'J14', 'J21014'): 1.1818181818181819,
 (Timestamp('2021-01-06 09:30:00'), 'J16', 'J21013'): 1.7142857142857142,
 (Timestamp('2021-01-06 09:30:00'), 'J19', 'J21015'): 2.0,
 (Timestamp('2021-01-06 10:30:00'), 'J14', 'J21014'): 1.2727272727272727,
 (Timestamp('2021-01-06 10:30:00'), 'J15', 'J20983'): 1.1818181818181819,
 (Timestamp('2021-01-06 10:30:00'), 'J17', 'J20950'): 1.8571428571428572,
 (Timestamp('2021-01-06 11:30:00'), 'J14', 'J21014'): 1.0909090909090908,
 (Timestamp('2021-01-06 12:30:00'), 'J18', 'J21016'): 1.7,
 (Timestamp('2021-01-06 12:30:00'), 'J19', 'J21015'): 1.9,
 (Timestamp('2021-01-06 15:30:00'), 'J16', 'J21013'): 1.3333333333333333,
 (Timestamp('2021-01-06 15:30:00'), 'J19', 'J21015'): 2.0,
 (Timestamp('2021-01-06 17:30:00'), 'J17', 'J20950'): 1.1428571428571428,
 (Timestamp('2021-01-06 17:30:00'), 'J18', 'J21016'): 1.4,
 (Timestamp('2021-01-06 17:30:00'), 'J20', 'J20987'): 4.571428571428571,
 (Timestamp('2021-01-06 18:30:00'), 'J15', 'J20983'): 1.1538461538461537,
 (Timestamp('2021-01-06 18:30:00'), 'J16', 'J21013'): 1.3333333333333333,
 (Timestamp('2021-01-06 19:30:00'), 'J13', 'J21017'): 4.0,
 (Timestamp('2021-01-06 19:30:00'), 'J13', 'J21018'): 6.0,
 (Timestamp('2021-01-06 19:30:00'), 'J13', 'J21019'): 4.0,
 (Timestamp('2021-01-06 19:30:00'), 'J14', 'J21014'): 1.0769230769230769,
 (Timestamp('2021-01-06 19:30:00'), 'J19', 'J21015'): 1.7272727272727273,
 (Timestamp('2021-01-06 19:30:00'), 'J20', 'J20987'): 5.090909090909091,
 (Timestamp('2021-01-06 20:30:00'), 'J14', 'J21014'): 1.3,
 (Timestamp('2021-01-06 20:30:00'), 'J16', 'J21013'): 1.6666666666666667,
 (Timestamp('2021-01-06 20:30:00'), 'J17', 'J20950'): 1.3333333333333333,
 (Timestamp('2021-01-06 21:30:00'), 'J15', 'J20983'): 1.2727272727272727,
 (Timestamp('2021-01-06 21:30:00'), 'J17', 'J20950'): 1.3,
 (Timestamp('2021-01-06 21:30:00'), 'J19', 'J21015'): 1.5384615384615385,
 (Timestamp('2021-01-06 22:30:00'), 'J14', 'J21014'): 1.0769230769230769,
 (Timestamp('2021-01-06 22:30:00'), 'J20', 'J20987'): 4.8,
 (Timestamp('2021-01-07 01:30:00'), 'J13', 'J21420'): 3.1666666666666665,
 (Timestamp('2021-01-07 01:30:00'), 'J17', 'J21488'): 1.4,
 (Timestamp('2021-01-07 01:30:00'), 'J19', 'J21424'): 1.375,
 (Timestamp('2021-01-07 02:30:00'), 'J17', 'J21488'): 1.1111111111111112,
 (Timestamp('2021-01-07 02:30:00'), 'J18', 'J21487'): 1.4,
 (Timestamp('2021-01-07 03:30:00'), 'J16', 'J21514'): 1.1111111111111112,
 (Timestamp('2021-01-07 04:30:00'), 'J15', 'J21513'): 1.6,
 (Timestamp('2021-01-07 05:30:00'), 'J17', 'J21488'): 1.1818181818181819,
 (Timestamp('2021-01-07 05:30:00'), 'J19', 'J21517'): 1.565217391304348,
 (Timestamp('2021-01-07 09:30:00'), 'J16', 'J21514'): 1.5714285714285714,
 (Timestamp('2021-01-07 09:30:00'), 'J19', 'J21517'): 2.388888888888889,
 (Timestamp('2021-01-07 10:30:00'), 'J15', 'J21425'): 1.1538461538461537,
 (Timestamp('2021-01-07 10:30:00'), 'J19', 'J21517'): 1.9333333333333333,
 (Timestamp('2021-01-07 11:30:00'), 'J13', 'J21516'): 3.2,
 (Timestamp('2021-01-07 11:30:00'), 'J15', 'J21425'): 1.3846153846153846,
 (Timestamp('2021-01-07 11:30:00'), 'J17', 'J21488'): 1.3571428571428572,
 (Timestamp('2021-01-07 11:30:00'), 'J18', 'J21487'): 1.1111111111111112,
 (Timestamp('2021-01-07 12:30:00'), 'J13', 'J21516'): 4.4,
 (Timestamp('2021-01-07 12:30:00'), 'J15', 'J21425'): 1.2307692307692308,
 (Timestamp('2021-01-07 12:30:00'), 'J17', 'J21488'): 1.5454545454545454,
 (Timestamp('2021-01-07 13:30:00'), 'J15', 'J21425'): 1.0909090909090908,
 (Timestamp('2021-01-07 13:30:00'), 'J17', 'J21488'): 2.0,
 (Timestamp('2021-01-07 15:30:00'), 'J16', 'J21514'): 1.3125,
 (Timestamp('2021-01-07 17:30:00'), 'J16', 'J21514'): 1.55,
 (Timestamp('2021-01-07 17:30:00'), 'J17', 'J21488'): 1.5,
 (Timestamp('2021-01-07 17:30:00'), 'J18', 'J21487'): 2.0,
 (Timestamp('2021-01-07 17:30:00'), 'J20', 'J21555'): 3.7142857142857144,
 (Timestamp('2021-01-07 18:30:00'), 'J17', 'J21488'): 1.8888888888888888,
 (Timestamp('2021-01-07 18:30:00'), 'J18', 'J21487'): 2.1818181818181817,
 (Timestamp('2021-01-07 20:30:00'), 'J16', 'J21514'): 1.3846153846153846,
 (Timestamp('2021-01-07 20:30:00'), 'J18', 'J21487'): 2.1818181818181817,
 (Timestamp('2021-01-07 20:30:00'), 'J19', 'J21517'): 2.076923076923077,
 (Timestamp('2021-01-07 21:30:00'), 'J13', 'J21516'): 5.0,
 (Timestamp('2021-01-07 21:30:00'), 'J16', 'J21514'): 1.3333333333333333,
 (Timestamp('2021-01-07 21:30:00'), 'J18', 'J21487'): 2.0833333333333335,
 (Timestamp('2021-01-07 21:30:00'), 'J20', 'J21555'): 3.4285714285714284,
 (Timestamp('2021-01-07 22:30:00'), 'J20', 'J21555'): 2.2222222222222223,
 (Timestamp('2021-01-07 23:30:00'), 'J20', 'J21555'): 2.5,
 (Timestamp('2021-01-08 01:30:00'), 'J17', 'J22094'): 1.3043478260869565,
 (Timestamp('2021-01-08 02:30:00'), 'J17', 'J22094'): 1.4545454545454546,
 (Timestamp('2021-01-08 03:30:00'), 'J13', 'J22045'): 2.7142857142857144,
 (Timestamp('2021-01-08 03:30:00'), 'J20', 'J22060'): 3.0,
 (Timestamp('2021-01-08 05:30:00'), 'J16', 'J22092'): 1.25,
 (Timestamp('2021-01-08 11:30:00'), 'J13', 'J22047'): 2.142857142857143,
 (Timestamp('2021-01-08 11:30:00'), 'J14', 'J22059'): 1.5555555555555556,
 (Timestamp('2021-01-08 12:30:00'), 'J13', 'J22047'): 1.6,
 (Timestamp('2021-01-08 12:30:00'), 'J16', 'J22092'): 1.5,
 (Timestamp('2021-01-08 13:30:00'), 'J16', 'J22092'): 1.4375,
 (Timestamp('2021-01-08 13:30:00'), 'J17', 'J22094'): 1.3529411764705883,
 (Timestamp('2021-01-08 13:30:00'), 'J19', 'J22027'): 1.6363636363636365,
 (Timestamp('2021-01-08 15:30:00'), 'J15', 'J22095'): 1.4615384615384615,
 (Timestamp('2021-01-08 17:30:00'), 'J14', 'J22059'): 1.0833333333333333,
 (Timestamp('2021-01-08 18:30:00'), 'J17', 'J22094'): 1.3,
 (Timestamp('2021-01-08 20:30:00'), 'J18', 'J22073'): 1.1333333333333333,
 (Timestamp('2021-01-08 21:30:00'), 'J16', 'J22092'): 1.0833333333333333,
 (Timestamp('2021-01-08 21:30:00'), 'J19', 'J22027'): 1.2857142857142858,
 (Timestamp('2021-01-08 22:30:00'), 'J18', 'J22073'): 1.1428571428571428,
 (Timestamp('2021-01-09 01:30:00'), 'J15', 'J22569'): 1.1538461538461537,
 (Timestamp('2021-01-09 01:30:00'), 'J16', 'J22599'): 1.1,
 (Timestamp('2021-01-09 02:30:00'), 'J14', 'J22520'): 1.2142857142857142,
 (Timestamp('2021-01-09 02:30:00'), 'J17', 'J22600'): 1.2142857142857142,
 (Timestamp('2021-01-09 02:30:00'), 'J18', 'J22602'): 1.6666666666666667,
 (Timestamp('2021-01-09 03:30:00'), 'J18', 'J22602'): 1.6666666666666667,
 (Timestamp('2021-01-09 04:30:00'), 'J14', 'J22520'): 1.1666666666666667,
 (Timestamp('2021-01-09 04:30:00'), 'J15', 'J22569'): 1.9,
 (Timestamp('2021-01-09 04:30:00'), 'J18', 'J22602'): 1.6363636363636365,
 (Timestamp('2021-01-09 09:30:00'), 'J15', 'J22569'): 1.8,
 (Timestamp('2021-01-09 10:30:00'), 'J14', 'J22519'): 1.8,
 (Timestamp('2021-01-09 10:30:00'), 'J15', 'J22569'): 2.0,
 (Timestamp('2021-01-09 10:30:00'), 'J17', 'J22600'): 1.6666666666666667,
 (Timestamp('2021-01-09 11:30:00'), 'J19', 'J22601'): 1.9,
 (Timestamp('2021-01-09 12:30:00'), 'J17', 'J22600'): 1.8125,
 (Timestamp('2021-01-09 13:30:00'), 'J13', 'J22603'): 5.5,
 (Timestamp('2021-01-09 13:30:00'), 'J14', 'J22519'): 1.4,
 (Timestamp('2021-01-09 13:30:00'), 'J15', 'J22569'): 2.0,
 (Timestamp('2021-01-09 13:30:00'), 'J17', 'J22600'): 1.8421052631578947,
 (Timestamp('2021-01-09 15:30:00'), 'J13', 'J22606'): 5.333333333333333,
 (Timestamp('2021-01-09 17:30:00'), 'J19', 'J22601'): 1.625,
 (Timestamp('2021-01-09 18:30:00'), 'J13', 'J22603'): 4.285714285714286,
 (Timestamp('2021-01-09 18:30:00'), 'J14', 'J22519'): 1.2,
 (Timestamp('2021-01-09 18:30:00'), 'J15', 'J22569'): 1.0833333333333333,
 (Timestamp('2021-01-09 19:30:00'), 'J13', 'J22603'): 5.6,
 (Timestamp('2021-01-09 19:30:00'), 'J13', 'J22606'): 3.6666666666666665,
 (Timestamp('2021-01-09 19:30:00'), 'J14', 'J22519'): 1.0,
 (Timestamp('2021-01-09 20:30:00'), 'J15', 'J22569'): 1.1538461538461537,
 (Timestamp('2021-01-09 20:30:00'), 'J18', 'J22602'): 1.2857142857142858,
 (Timestamp('2021-01-09 20:30:00'), 'J19', 'J22601'): 1.4615384615384615,
 (Timestamp('2021-01-09 21:30:00'), 'J13', 'J22603'): 3.5,
 (Timestamp('2021-01-09 22:30:00'), 'J18', 'J22602'): 1.1875,
 (Timestamp('2021-01-09 23:30:00'), 'J18', 'J22602'): 1.1764705882352942,
 (Timestamp('2021-01-10 02:30:00'), 'J13', 'J23175'): 3.125,
 (Timestamp('2021-01-10 02:30:00'), 'J20', 'J23068'): 7.428571428571429,
 (Timestamp('2021-01-10 05:30:00'), 'J15', 'J23170'): 1.1818181818181819,
 (Timestamp('2021-01-10 06:30:00'), 'J19', 'J23177'): 1.375,
 (Timestamp('2021-01-10 07:30:00'), 'J18', 'J23179'): 1.4782608695652173,
 (Timestamp('2021-01-10 10:30:00'), 'J15', 'J23170'): 1.1538461538461537,
 (Timestamp('2021-01-10 11:30:00'), 'J15', 'J23170'): 1.5555555555555556,
 (Timestamp('2021-01-10 12:30:00'), 'J15', 'J23170'): 1.0,
 (Timestamp('2021-01-10 13:30:00'), 'J15', 'J23170'): 1.0,
 (Timestamp('2021-01-10 17:30:00'), 'J15', 'J23170'): 1.6923076923076923,
 (Timestamp('2021-01-10 17:30:00'), 'J19', 'J23177'): 1.75,
 (Timestamp('2021-01-10 17:30:00'), 'J20', 'J23068'): 2.75,
 (Timestamp('2021-01-10 18:30:00'), 'J14', 'J23174'): 2.0,
 (Timestamp('2021-01-10 20:30:00'), 'J18', 'J23179'): 1.75,
 (Timestamp('2021-01-10 21:30:00'), 'J20', 'J23068'): 3.142857142857143,
 (Timestamp('2021-01-10 23:30:00'), 'J20', 'J23068'): 3.3333333333333335,
 (Timestamp('2021-01-11 01:30:00'), 'J13', 'J23768'): 3.0,
 (Timestamp('2021-01-11 01:30:00'), 'J14', 'J23745'): 2.0,
 (Timestamp('2021-01-11 01:30:00'), 'J20', 'J23774'): 4.4,
 (Timestamp('2021-01-11 02:30:00'), 'J18', 'J23767'): 1.8,
 (Timestamp('2021-01-11 03:30:00'), 'J14', 'J23745'): 1.3076923076923077,
 (Timestamp('2021-01-11 04:30:00'), 'J20', 'J23774'): 3.066666666666667,
 (Timestamp('2021-01-11 15:30:00'), 'J20', 'J23774'): 2.6666666666666665,
 (Timestamp('2021-01-11 18:30:00'), 'J18', 'J23767'): 1.6363636363636365,
 (Timestamp('2021-01-11 20:30:00'), 'J19', 'J23780'): 1.4285714285714286,
 (Timestamp('2021-01-11 21:30:00'), 'J18', 'J23767'): 1.3571428571428572,
 (Timestamp('2021-01-11 22:30:00'), 'J20', 'J23774'): 2.5454545454545454,
 (Timestamp('2021-01-11 23:30:00'), 'J18', 'J23767'): 1.3125,
 (Timestamp('2021-01-12 01:30:00'), 'J13', 'J24306'): 4.0,
 (Timestamp('2021-01-12 01:30:00'), 'J15', 'J24243'): 1.4166666666666667,
 (Timestamp('2021-01-12 02:30:00'), 'J13', 'J24306'): 2.8,

In [171]:
df7 = df6.groupby(['TimeStamp', 'LineName', "JobNumber"])
df7.first()

                                        SampleSize  DefectCount  \
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183            100            1
                    J19      J18093            100            1
2021-01-01 02:30:00 J17      J18152            100            2
                    J18      J18094            100            1
2021-01-01 03:30:00 J20      J18165             50            2
...                                            ...          ...
2022-12-01 04:30:00 J15      J25062            100            1
                    J18      J25018            100            1
                    J19      J25063            100            1
2022-12-01 05:30:00 J18      J25018            100            1
2022-12-01 22:30:00 J20      J24974             50            2

                                        DefectPercentage
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183                    0
                    J19      J18093                    0
2021-01-01 02:30:00 J17      J18152                    0
                    J18      J18094                    0
2021-01-01 03:30:00 J20      J18165                    0
...                                                  ...
2022-12-01 04:30:00 J15      J25062                    0
                    J18      J25018                    0
                    J19      J25063                    0
2022-12-01 05:30:00 J18      J25018                    0
2022-12-01 22:30:00 J20      J24974                    0

[8805 rows x 3 columns]

In [165]:
df9 = pd.concat([df8, df7], axis=1)
df9

TypeError: cannot concatenate object of type '<class 'pandas.core.groupby.generic.DataFrameGroupBy'>'; only Series and DataFrame objs are valid

In [98]:
df7["DefectCount"].sum()

TimeStamp            LineName  JobNumber
2021-01-01 01:30:00  J16       J18183       16
                     J19       J18093       24
2021-01-01 02:30:00  J17       J18152       24
                     J18       J18094       23
2021-01-01 03:30:00  J20       J18165       22
                                            ..
2022-12-01 04:30:00  J15       J25062       16
                     J18       J25018       20
                     J19       J25063       18
2022-12-01 05:30:00  J18       J25018       22
2022-12-01 22:30:00  J20       J24974       13
Name: DefectCount, Length: 8805, dtype: int64

In [104]:
import numpy as np

In [172]:
df8 = df7[["DefectCount", "SampleSize"]].agg(
    DefectCountSum=pd.NamedAgg(column="DefectCount", aggfunc="sum"),
    SampleSizeSum=pd.NamedAgg(column="SampleSize", aggfunc="sum"))

In [181]:
df9 = df8.reset_index()

In [182]:
df9

               TimeStamp LineName JobNumber  DefectCountSum  SampleSizeSum
0    2021-01-01 01:30:00      J16    J18183              16           1300
1    2021-01-01 01:30:00      J19    J18093              24           1800
2    2021-01-01 02:30:00      J17    J18152              24           1800
3    2021-01-01 02:30:00      J18    J18094              23           1800
4    2021-01-01 03:30:00      J20    J18165              22            450
...                  ...      ...       ...             ...            ...
8800 2022-12-01 04:30:00      J15    J25062              16           1100
8801 2022-12-01 04:30:00      J18    J25018              20           2000
8802 2022-12-01 04:30:00      J19    J25063              18           1600
8803 2022-12-01 05:30:00      J18    J25018              22           2000
8804 2022-12-01 22:30:00      J20    J24974              13            350

[8805 rows x 5 columns]

In [183]:
df9.to_csv("ce_setout_final_pruned_R.csv")

In [146]:
df8["DefectPercentage"]  =df8["DefectCountSum"]*100/df8["SampleSizeSum"]

In [147]:
df9 = df8.reset_index(drop=True)
df9

      DefectCountSum  SampleSizeSum  DefectPercentage
0                 16           1300          1.230769
1                 24           1800          1.333333
2                 24           1800          1.333333
3                 23           1800          1.277778
4                 22            450          4.888889
...              ...            ...               ...
8800              16           1100          1.454545
8801              20           2000          1.000000
8802              18           1600          1.125000
8803              22           2000          1.100000
8804              13            350          3.714286

[8805 rows x 3 columns]

In [132]:
df8

                                        DefectCountSum  SampleSizeSum  \
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183                 16           1300
                    J19      J18093                 24           1800
2021-01-01 02:30:00 J17      J18152                 24           1800
                    J18      J18094                 23           1800
2021-01-01 03:30:00 J20      J18165                 22            450
...                                                ...            ...
2022-12-01 04:30:00 J15      J25062                 16           1100
                    J18      J25018                 20           2000
                    J19      J25063                 18           1600
2022-12-01 05:30:00 J18      J25018                 22           2000
2022-12-01 22:30:00 J20      J24974                 13            350

                                        DefectPercentage
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183             1.230769
                    J19      J18093             1.333333
2021-01-01 02:30:00 J17      J18152             1.333333
                    J18      J18094             1.277778
2021-01-01 03:30:00 J20      J18165             4.888889
...                                                  ...
2022-12-01 04:30:00 J15      J25062             1.454545
                    J18      J25018             1.000000
                    J19      J25063             1.125000
2022-12-01 05:30:00 J18      J25018             1.100000
2022-12-01 22:30:00 J20      J24974             3.714286

[8805 rows x 3 columns]

In [107]:
df7.first()

                                        SampleSize  DefectCount  \
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183            100            1
                    J19      J18093            100            1
2021-01-01 02:30:00 J17      J18152            100            2
                    J18      J18094            100            1
2021-01-01 03:30:00 J20      J18165             50            2
...                                            ...          ...
2022-12-01 04:30:00 J15      J25062            100            1
                    J18      J25018            100            1
                    J19      J25063            100            1
2022-12-01 05:30:00 J18      J25018            100            1
2022-12-01 22:30:00 J20      J24974             50            2

                                        DefectPercentage
TimeStamp           LineName JobNumber
2021-01-01 01:30:00 J16      J18183                    0
                    J19      J18093                    0
2021-01-01 02:30:00 J17      J18152                    0
                    J18      J18094                    0
2021-01-01 03:30:00 J20      J18165                    0
...                                                  ...
2022-12-01 04:30:00 J15      J25062                    0
                    J18      J25018                    0
                    J19      J25063                    0
2022-12-01 05:30:00 J18      J25018                    0
2022-12-01 22:30:00 J20      J24974                    0

[8805 rows x 3 columns]

In [60]:
s = set(df5["Name"])

In [62]:
len(s)

178